<div class="row-fluid title">
        <div class="col-lg-12">
            <h1>Aakash Project Centre –IIT Bombay</h1>
        </div>
    </div>
    <div class="container sidebar-container">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <div id="section-1">

                    <p>Anna University, Dindigul is one of the Aakash Remote Centre for IIT Bombay and conducted workshops for staff and students to develop Android applications for Aakash tablets. In this regard, students who are interested in developing Android applications can avail the tablet for a stipulated period of their project.</p>
                    <p>The tablet should be used in the same way as a library book ; it can be "borrowed" by the students and then returned to the coordinator after a stipulated period. The tablets do not belong to any single individual; they are the property of IIT Bombay and have been entrusted to the Aakashcenter and the Aakash coordinator. The tablet should be returned to the Coordinator, once after the stipulated period given. The maximum period the student can avail is 3 months.</p>
                    <p>If the student damages/loses a tablet, Aakash Coordinator will fine the concerned person for a sum of Rs.2263 and send a cheque of that amount to IIT Bombay, drawn in favour of Registrar, IIT Bombay.</p>
                    <hr>
                </div>
                <div id="section-2">
                    <h2>Important links:</h2>
                    <ul>
                        <li><a href="http://www.it.iitb.ac.in/aakash2/" target="_blank">Aakash 2 - Homepage</a>
                        </li>
                        <li> <a href="facilities/Aakash tablet request -staff.doc">Aakash tablet Request – Staffs</a>
                        </li>
                        <li> <a href="facilities/Aakash tablet request -student.doc">Aakash tablet Request – Students</a>
                        </li>
                    </ul>
                    <hr>
                </div>
                <div id="section-1">
                <div class="col-lg-6">
            

                    <h2>Contact Details</h2>
                    <!-- <address>Aakash Project Centre Coordinator–Mr.K.Saravanan<br>Asst.Prof/Computer Science &amp; Engineering<br> Email:saravanan.krishnann@gmail.com <br>Contact no-9791005395
                    </address> -->
                    <hr>
                </div>
                </div>
                 <div class="col-lg-6">
                 </div>
                        </div>
            <div class="col-lg-1"></div>
        </div>
    </div>