<nav style="background-color: #303030" id="sidebar1">
            <div class="logo-container">
                    <img src="../images/logo-white.png" style="margin: 20%;width: 120px;height: 110px;" class="img img-middle logo">
                </div>
                <ul class="list-unstyled components">
                   <li>
                   <a href="/#!/placement">Home</a>
                   </li>
                     <li>
                        <a href="/#!/placeTraining">Training</a>
                    </li>
                    <li>
                        <a href="/#!/slider">Gallery</a>
                    </li>
                    <li class="active" style="background-image: url(../images/arrow.png); background-repeat: no-repeat;
    background-position: right;">
                        <a href="/#!/placeAchievers">Achievers</a>
                    </li>
                    <li>
                        <a href="/#!/placeNews">News and Events</a>
                    </li>
                    <li>
                        <a href="/#!/placement/contact">Contact</a>
                    </li>
                </ul>
            </nav>  
<div class="main" style="margin-left: 20%;">
                <h1 class="page-header">Our Achievers</h1>
                <div class="row home-content">
                    <div class="achievers-heading" style="text-align:center">
                        <h2><i class="fa fa-star"></i>&nbsp;2016&nbsp;<i class="fa fa-star"></i></h2>
                    </div>
                    <hr>
                    <div class="row row-content">
                                                    <div class="col-lg-4">
                                    <strong>A Prabha subbulakshmi</strong>
                                    <p>Infosys technology Ltd.</p><br>
                            </div> 
                                                     <div class="col-lg-4">
                                    <strong>B Astana</strong>
                                    <p>iNet Technology Ltd.</p><br>
                            </div> 
                                                     <div class="col-lg-4">
                                    <strong>C Hari Sankari</strong>
                                    <p>iNet Technologies Ltd.</p><br>
                            </div> 
                                                     <div class="col-lg-4">
                                    <strong>D Vinithamalaiarasi</strong>
                                    <p>Wipro Systems Ltd.</p><br>
                            </div> 
                                                     <div class="col-lg-4">
                                    <strong>J Claribell</strong>
                                    <p>Paradigm Technologies Pvt Ltd.</p><br>
                            </div> 
                                                     <div class="col-lg-4">
                                    <strong>K J Anjana</strong>
                                    <p>Wipro Systems Ltd</p><br>
                            </div> 
                                                     <div class="col-lg-4">
                                    <strong>K M Mogeendran</strong>
                                    <p>Zoho Corporation Pvt Ltd.</p><br>
                            </div> 
                                                     <div class="col-lg-4">
                                    <strong>M Madhan</strong>
                                    <p>Paradigm Technologies Pvt Ltd.</p><br>
                            </div> 
                                                     <div class="col-lg-4">
                                    <strong>M Subbulakshmi</strong>
                                    <p>iNet Technology Ltd.</p><br>
                            </div> 
                                                     <div class="col-lg-4">
                                    <strong>R Gayathri</strong>
                                    <p>iNet Technologies</p><br>
                            </div> 
                                                     <div class="col-lg-4">
                                    <strong>S Hari Rajan</strong>
                                    <p>Paradigm Technologies Pvt Ltd. </p><br>
                            </div> 
                                                     <div class="col-lg-4">
                                    <strong>S Karthika</strong>
                                    <p>Cognizant Technology Solutions Ltd.</p><br>
                            </div> 
                                                     <div class="col-lg-4">
                                    <strong>S Padmavathi</strong>
                                    <p>Paradigm Technologies Pvt Ltd.</p><br>
                            </div> 
                                                     <div class="col-lg-4">
                                    <strong>S Ramya</strong>
                                    <p>Infosys technology Ltd.</p><br>
                            </div> 
                                                     <div class="col-lg-4">
                                    <strong>S Sabur Nisha</strong>
                                    <p>Paradigm Technologies Pvt Ltd. </p><br>
                            </div> 
                                                     <div class="col-lg-4">
                                    <strong>S Sornadevi</strong>
                                    <p>Cognizant Technology Solutions Ltd.</p><br>
                            </div> 
                                              </div>
                    <hr>
                    <div class="achievers-heading" style="text-align:center">
                        <h2><i class="fa fa-star"></i>&nbsp;2015&nbsp;<i class="fa fa-star"></i></h2>
                    </div>
                    <hr>
                    <div class="row row-content">
                                                   <div class="col-lg-4">
                                    <strong>M A Subraja,</strong>
                                    <p>Infosys technology Ltd.</p><br>
                            </div> 
                                                     <div class="col-lg-4">
                                    <strong>M Divya Priya,</strong>
                                    <p>Cognizant Technology Solutions Ltd.</p><br>
                            </div> 
                                                     <div class="col-lg-4">
                                    <strong>M Harimaharajan,</strong>
                                    <p>Coginzant Technology Solutions Ltd.</p><br>
                            </div> 
                                                     <div class="col-lg-4">
                                    <strong>S Armuga Jothi,</strong>
                                    <p>Infosys Techonology Ltd.</p><br>
                            </div> 
                                                     <div class="col-lg-4">
                                    <strong>S Inica Blessy,</strong>
                                    <p>Infosys Technology Ltd.</p><br>
                            </div> 
                                                     <div class="col-lg-4">
                                    <strong>S Vilvasri,</strong>
                                    <p>Accenture Services Pvt Ltd.</p><br>
                            </div> 
                                             </div>
                </div>
            </div>