    <div class="row-fluid title">
        <div class="col-lg-12">
            <h1>Department of Electrical &amp; Elcetronics Engineering</h1>
        </div>
    </div>
    <div class="container sidebar-container">
        <div class="row">
            <div class="col-lg-4" id="leftCol">
                <ul class="nav-stacked affix-top" id="sidebar">
                    <li style="padding: 10px" class="active"><a href="#section-1">HOD's Desk</a>
                    </li>
                    <li style="padding: 10px"><a href="#section-2">Faculty</a>
                    </li>
                    <li style="padding: 10px"><a href="#section-3">Courses</a>
                    </li>
                    <li style="padding: 10px"><a href="#section-4">Facility</a>
                    </li>
                    <li style="padding: 10px"><a href="#section-5">Activities</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-8">
                <div id="section-1">
                    <h2>HOD's Desk</h2>
                    <p>The Department of Electrical and Electronics Engineering tries bridging the gap between Computer Science and Electronics Engineering and motivates students to research all aspects of embedded systems. The actual reserach domains include automotive electronics, model checking, embedded control and navigation and ambient assistive technologies.</p>
                    <hr>
                </div>
                <div id="section-2">
                    <h2>Faculty</h2>
                    <p>The staff of the department foster and develop competences in the fields of Microcontroller Hardware Design, Embedded Systems Software Design, Wireless and ad hoc Networks, Embedded Networking, Real-Time Systems, Model based Design, Microcontroller Hardware Design, Embedded Control Systems, Digital System Design and ASIC and FPGA Design.</p>
                    <p> The staff of the Embedded Systems comprises of full-time and visiting faculty members , all of them having a strong background in Electronics, Computer Science and Embedded Systems Technology. Besides teaching, our staff is involved in research and development projects.</p>
                    <p class="no-indent">
                        <a class="btn btn-info fac_btn">
                            <strong>View Faculty Details</strong> <i class="fa fa-angle-double-right"></i>
                        </a>
                    </p>
                    <hr>
                </div>
                <div id="section-3">
                    <h2>Courses</h2>
                    <p>The Department of Electrical Engineering offers M.E. Embedded System Technologies.</p>
                    <hr>
                </div>
                <div id="section-4">
                    <h2>Facility</h2>
                    <p>The labs in the department are equipped with equipments like oscilloscopes, power supplies, signal generators and provides a number of different hardware and software tools for research purposes. Many development platforms ranging from simple Atmel ATmega-based Arduino Uno boards to complex ARM7-based LPC1343/1758/2478 are used.</p>
                    <hr>
                </div>
                <div id="section-5">
                    <h1>Activities</h1>
                    <p>The Department organized a two days workshop on Hands On Training on LabVIEW was held on 5-11-2013 &amp; 6-11-2014 and Second National Embedded Systems Conference (NEC’14) was organized from 27-03-2014 to 28-03-2014.</p>
                    <hr>
                    <hr>
                </div>
            </div>
        </div>
    </div>