<div class="container-fluid imgslider" style="max-height: 400px;">  
<div class="swiper-container main-slider" id="myCarousel">
  <div class="swiper-wrapper">
    <div class="swiper-slide slider-bg-position" style="max-height: 400px; background:url('../img/1.jpg')" data-hash="slide1">
      <div class="carousel-caption slideinfo">
                        <h1>Our Campus</h1>
                        <p>Inventiveness...Prosperous...Zealous...</p>
                    </div>
    </div>
    <div class="swiper-slide slider-bg-position" style="max-height: 450px; background:url('../img/2.jpg')" data-hash="slide2">
       <div class="carousel-caption slideinfo">
                        <h1>Campus full of Colors</h1>
                        <p>Booming the next generation</p>
                    </div>
    </div>
     <div class="swiper-slide slider-bg-position" style="max-height: 400px; background:url('../img/4.jpg')" data-hash="slide3">
      <div class="carousel-caption slideinfo">
                        <h1>Environs</h1>
                        <p>Pleasant...Spiritual...Ethnic...</p>
                    </div>
    </div>
     <div class="swiper-slide slider-bg-position" style="max-height: 400px; background:url('../img/5.jpg')" data-hash="slide4">
      <div class="carousel-caption slideinfo">
                        <h1>Spreading Knowledge</h1>
                        <p>Knowledge heaps</p>
                    </div>
    </div>
  </div>
  <!--  Add Pagination  -->
 <!--  <div class="swiper-pagination"></div> -->
   <!-- Add Navigation -->
  <div class="swiper-button-prev"><i class="fa fa-chevron-left"></i></div>
  <div class="swiper-button-next"><i class="fa fa-chevron-right"></i></div> -->
</div>
</div>
    
    <section class="home_body">
        <div class="container mcontent">
            <div class="row">
                <div class="col-lg-8">
                    <h1>Welcome</h1>
                    <p class="init">Contents are coming soon</p>
                    <p> </p>
                    <p></p>
                    <p></p>
                </div>
                <div class="col-lg-4 news">
                    <div class="row login">
                        <h1>Campus Corner</h1>
                       <!--  <div class="col-md-6 uc">
                            <a target="_blank" href="/#!/stdLogin">
                                <h3>I am a
                                    <br/>Student
                                </h3>
                                <div class="icon">
	                                <i class="fa fa-graduation-cap"></i>
	                            </div>
                            </a>
                        </div> -->
                         <div class="col-md-6 uc" style="">
                            <a target="_blank" href="/#!/stdLogin">
                                <h3>I am a
                                    <br/>Student
                                </h3>
                                <div class="icon">
                                	<i class="fa fa-graduation-cap"></i>
                            	</div>
                            </a>
                        </div>
                       <div class="col-md-6 uc" style="background-color:#A1A66A">
                            <a target="_blank" href="/#!/staffLogin">
                                <h3>I am a
                                    <br/>Staff
                                </h3>
                                <div class="icon">
                                	<i class="fa fa-user"></i>
                            	</div>
                            </a>
                        </div>
                    </div>
                    <div>
                        <h1>News & Events</h1>
                        <div class="demo1 demof">
    <ul>
        </ul>
</div>
<div class="row" style="background-color: grey; margin-left:0px;text-align:center;text-decoration:none">
    <a class="badge" href="/#!/news">View more >></a>
</div>                    </div>
                </div>
            </div>
    </section>
    
    