<div class="container-fluid header">
    <div class="row-fluid top-nav">

    </div>
    <div class="row-fluid banner">
        <img src="img/web.png" class="img-responsive" />
    </div>
    <div class="navbar main-nav " role="navigation">
        <div class="navbar-inner">
           
            <div class="container-fluid">
                <div>
                    <div class="row mnnav">
                        <div class="col-lg-12">
                            <ul class="navbar-nav nav">
                                <li><a href="index.php">Home</a>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">Administration</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="univ_admin.php" tabindex="-1">Regional Office</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li><a href="#" tabindex="-1">Dean's Desk</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">Academic</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="courses.php" tabindex="-1">Courses</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li><a href="#" tabindex="-1">Curriculum</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">Centres</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="affiliation.php" tabindex="-1">Affiliation</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li><a href="student_affairs.php" tabindex="-1">Student Affairs</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li><a href="#" tabindex="-1">Research</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">Departments</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="civil.php" tabindex="-1">Civil Engineering</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li><a href="cse.php" tabindex="-1">Computer Science & Engineering</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li><a href="ece.php" tabindex="-1">Electronics & Communication Engineering</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li><a href="eee.php" tabindex="-1">Electrical & Electronics Engineering</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li><a href="mech.php" tabindex="-1">Mechanical Engineering</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li><a href="mba.php" tabindex="-1">Management Studies</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li><a href="mca.php" tabindex="-1">Computer Applications</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li><a href="sci_hum.php" tabindex="-1">Science & Humanities</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">Campus Life</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="arts_cult.php" tabindex="-1">Arts & Culture</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li><a href="gallery.php" tabindex="-1">Gallery</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li class="dropdown-submenu"><a href="#" tabindex="-1">Facilities</a>
                                            <ul class="dropdown-menu">
                                                <li><a href="aakash.php" tabindex="-1">AAKASH</a>
                                                </li>
                                                <li class="divider"></li>
                                                <li><a href="nptel.php" tabindex="-1">NPTEL</a>
                                                </li>
                                                <li class="divider"></li>
                                                <li><a href="iste.php" tabindex="-1">ISTE</a>
                                                </li>
                                                <li class="divider"></li>
                                                <li><a href="nodal_centre.php" tabindex="-1">QIC-Nodal Centre</a>
                                                </li>
                                                <li class="divider"></li>
                                                <li><a href="remote_centre.php" tabindex="-1">IIT-B & IIT-K Centre</a>
                                                </li>
                                                <li class="divider"></li>
                                                <li><a href="iirs.php" tabindex="-1">IIRS</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="divider"></li>
                                        <li><a href="sports.php" tabindex="-1">Sports</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li><a href="nss.php" tabindex="-1">Social Services</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li><a href="stu_life.php" tabindex="-1">Student Life</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="Placement_Cell/index.php">Placement Cell</a>
                                </li>
                                <li><a href="contact.php">Contact Us</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    </div>