 <div class="row-fluid title">
        <div class="col-lg-12">
            <h1>Arts &amp; Culture</h1>
        </div>
    </div>
    <div class="container sidebar-container">
        <div class="row">
            <div class="col-lg-4" id="leftCol">
                <ul style="width: 109%;" class="nav-stacked affix-top" id="sidebar">
                    <li style="padding: 10px;white-space: pre" class="active"><a href="#section-1">Exposure to Multicultural Environment</a>
                    </li>
                    <li style="padding: 10px"><a href="#section-2">Kalakshetra</a>
                    </li>
                    <li style="padding: 10px"><a href="#section-3">Pongal Celebration</a>
                    </li>
                    <li style="padding: 10px"><a href="#section-4">College Day</a>
                    </li>
                 </ul>
            </div>
            <div class="col-lg-8">
                <div id="section-1">
                    <h2>Exposure to Multicultural Environment</h2>
                    <p>In our campus, we enrich the skills of our students by providing them chances to participate in various cultural events. Cultural programme are sorted out every year to encourage creative pursuits and cherish the talents of our students. Students are provided with opportunities to explore their creativity.</p>
                   <hr>
                </div>
                <div id="section-2">
                    <h2>Kalakshetra</h2>
                    <p>Our college host the first culturals which is held under the banner <strong>‘Kalakshetra-14’</strong>.  Various events are conducted to bring out the best Musicians, Dancers, Mimics and Singers within the students. The students presented a grand cultural show which made the event memorable for the guests, faculty and students. </p>
                    <hr>
                </div>
                <div id="section-3">
                    <h2>Pongal Celebration</h2>
                    <p>As the January chills sets in, the joy of Pongal resounds the air. Our college celebrated Pongal with fervour and festivity headed by the Tamil Mandram. The faculty and students together made Pongal in a new pot. As the part of the celebration rural folk games such as Uriyadi, Kabadi, Tug-of-war, Slow cycling etc. Both faculty and students were in traditional outfits.</p>
                    <p> The winners were reputed with prizes at the end of the festival and sweet Pongal were distributed among the faculty and students.</p>
                 <hr>
                </div>
                <div id="section-4">
                    <h2>College Day</h2>
                    <p>Our college day instigated with the light music performance, further annual report of our college was read. The chief guest distributed prizes to the meritorious student and the best performer.</p>
                    <hr>
                </div>
               </div>
        </div>
    </div>