body {
background:#d9d9d9;
margin:0;
padding:0;
font:12px arial, Helvetica, sans-serif;
color:#222;
}

.p5 {height:1px;padding:2px 0;clear:both;}

.gallery {
position:relative;
overflow:hidden;
width:auto;
margin:15px auto;
padding:50px;
background:#ededed;
border-radius:3px;
-moz-border-radius:3px;
-webkit-border-radius:3px;
}

.gallery a:link,
.gallery a:active,
.gallery a:visited {
color:#555;
outline:0;
text-decoration:none;
}

//.gallery a:hover {color:red;} 

.gallery img {border:0;}
.gallery .float-left {float:left;}
.gallery .float-right {float:right;}
.gallery .clear {clear:both;}
.gallery .clearb10 {padding-bottom:10px;clear:both;}

.gallery .titlebar {
height:24px;
line-height:24px;
margin:0 5px;
}

.gallery .title {
font-size:18px;
font-weight:400;
}

.gallery .thumb-album {
overflow:hidden;
width:220px;
height:200px;
float:left;
margin:8px;
padding:5px;
background-color:#222;
color:#bbb;
border-radius:2px;
-moz-border-radius:2px;
-webkit-border-radius:2px;
}

.gallery .thumb-album a {color:#bbb;}

.gallery .thumb-album:hover {
background-color:#fff;
color:#333;
}

.gallery .thumb-album a {color:#bbb;}
.gallery .thumb-album:hover a {color:#444;}

.gallery .thumb {
overflow:hidden;
float:left;
width:250px;
height:auto;
margin:8px;
background-color:#444;
border:5px solid #222;
border-radius:2px;
-moz-border-radius:2px;
-webkit-border-radius:2px;
}

.gallery .thumb:hover {
border:5px solid #f6f6f6;
}

.gallery .thumb-wrapper {
width:100%;
height:160px;
overflow:hidden;
}

.gallery .thumb-wrapper img {height:auto;}

.shadow {
-webkit-box-shadow: 0px 1px 5px 0px #4a4a4a;
-moz-box-shadow: 0px 1px 5px 0px #4a4a4a;
box-shadow: 0px 1px 5px 0px #4a4a4a;
}

/***** pagination style *****/
.gallery .paginate-wrapper {
padding:10px 0 0 0;
margin:0 2px;
margin-top: 30px;
font-size:15x;
}

.gallery a.paginate {
color:#555;
padding:0;
margin:0 2px;
text-decoration:none;
}

.gallery a.current-paginate, 
.gallery a.paginate:hover {
color:#333;
font-weight:700;
padding:0;
margin:0 2px;
text-decoration:none;
}

.gallery a.paginate-arrow {
text-decoration:none;
border:0;
}

.fp .refresh {cursor:pointer;}

@media (min-width: 1000px) {
	.gallery .thumb-album {
		width: 266px;
	}
	.gallery .thumb{
		width: 266px;
	}
}