@import url("bootstrap.min.css");
 @import url("font-awesome.min.css");
 @import url("ionicons.min.css");
 @import'prettyPhoto.css';
 body {
    //font-size: 12pt;
}
.home_body {
    padding-bottom: 20px;
}
.header {
    padding:0px;
}
.init:first-letter {
    font-size: 150%;
}
.init:first-line {
    line-height: 100%;
}
p {
    text-indent: 10%;
}
.no-indent {
    text-indent: 0%;
}
/******************Home Dialog***********************/
 #myModal .modal-dialog {
    margin-top: 100px;
}
#myModal .modal-footer {
    border-top:none;
    margin-top: -20px;
}
#myModal .modal-header {
    background: #FA7C1F;
    color:#fff;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}
/************************Construction*********************/
 .construction {
    padding-bottom: 100px;
}
/************************Top Nav**************************/
 .top-nav {
    //border-bottom:1px solid #7e7f7f;
    background-color: #777777;
    padding-top: 20px;
    //z-index: 100;
}
/*.top-nav>ul {
    margin-bottom: 0px;
    padding: 8px 0px 8px 8px;
}
.top-nav>ul li {
    display: inline;
    margin-top:10px;
}
.top-nav>ul li a {
    font-size: .8em;
}*/

/**************************Banner*********************************/
 .banner {
    padding:10px 0;
    background:#FA7C1F;
    /* Old browsers */
    /* IE9 SVG,needs conditional override of 'filter' to 'none' */
    background:url("../img/a.png");
    background:-moz-linear-gradient(top, #FA7C1F 0%, #FA9724 100%);
    /* FF3.6+ */
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #FA7C1F), color-stop(100%, #FA9724));
    /* Chrome,Safari4+ */
    background:-webkit-linear-gradient(top, #FA7C1F 0%, #FA9724 100%);
    /* Chrome10+,Safari5.1+ */
    background:-o-linear-gradient(top, #FA7C1F 0%, #FA9724 100%);
    /* Opera 11.10+ */
    background:-ms-linear-gradient(top, #FA7C1F 0%, #FA9724 100%);
    /* IE10+ */
    background:linear-gradient(to bottom, #FA7C1F 0%, #FA9724 100%);
    /* W3C */
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FA7C1F', endColorstr='#FA9724', GradientType=0);
    /* IE6-8 */
    //border-top:1px solid #1b1b1b;
    border-bottom:1px solid #CE6A00;
    min-height: 100px;
    -webkit-box-shadow: 0 -8px 6px -6px #333;
    -moz-box-shadow: 0 -8px 6px -6px #333;
    box-shadow: 0 -8px 6px -6px #333;
}
.banner>img {
    margin-bottom: -7px;
    display: block;
    text-indent: -9999em;
    margin: 0px auto;
    max-width: 70%;
    transition: none 0s ease 0s;
    padding: 10px 0px;
    //min-height: 100%;
    //width: auto;
    //vertical-align:middle;
}
/*
.banner img {
    //background-image: url('../img/a.png');
}
.banner img {
    display: block;
    text-indent: -9999em;
    //width: 450px;
    //height: 90px;
    //background: url('../img/a.png') no-repeat scroll 0px 0px transparent;
    margin: 0px auto;
    transition: none 0s ease 0s;
}
.banner img {
    display: none;
    visibility: hidden;
}*/
 @media (max-width: 650px) {
    .imgslider {
        display: none;
    }
    /*.divider {
        display: none;
    }*/
}
 .main-nav {
    background: #a55940;
    background: -moz-linear-gradient(top, #a55940 0%, #a55940 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a55940), color-stop(100%, #a55940));
    background: -webkit-linear-gradient(top, #a55940 0%, #a55940 100%);
    background: -o-linear-gradient(top, #a55940 0%, #a55940 100%);
    background: -ms-linear-gradient(top, #a55940 0%, #a55940 100%);
    background: linear-gradient(to bottom, #a55940 0%, #a55940 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#292323', endColorstr='#292323', GradientType=0);
    border-top:1px solid #a55940;
    border-bottom:1px solid #a55940;
    -webkit-box-shadow: 0 8px 6px -6px #333;
    -moz-box-shadow: 0 8px 6px -6px #333;
    box-shadow: 0 8px 6px -6px #333;
    z-index: 100;
}
.navbar {
    border-radius: 0px;
    min-height: 0px;
    line-height: .7;
    margin-bottom: 0px;
}
.navbar-nav>li a {
    position:relative;
    //z-index:3000;
    bottom:-1px;
    margin-top:-1px;
    color:#fff;
    //height:1.125em;
    //padding:.625em 2.5em;
    -webkit-transition-duration:.3s;
    -moz-transition-duration:.3s;
    -o-transition-duration:.3s;
    transition-duration:.3s;
    -ms-transition-duration:0s;
    border-bottom:1px solid transparent;
    //white-space:nowrap;
}
.col-lg-12 {
    text-align: center;
    width: 100%;
    float: none;
    margin-left: 0px;
}
.nav>li>a {
    padding:10px 30px;
}
.navbar-nav>li a:hover, .navbar-nav>li a:focus {
    background:#fff;
    color:#CE6A00;

}
.mnnav {
    margin: 0px;
    padding: 0px;
}
.navbar .nav, .navbar .nav > li {
  margin-top: 15px;
    float:none;
    display:inline-block;
    *display:inline;
    /* ie7 fix */
    *zoom:1;
    /* hasLayout ie7 trigger */
    vertical-align: top;
    //white-space:nowrap;
}
.navbar-inner {
    text-align:center;
}
@media (max-width: 1200px) {
    .nav>li>a {
        font-size: 0.75em;
        padding: 10px 20px;
    }
}
@media (max-width: 768px) {
    .navbar .nav, .navbar .nav > li {
        display:list-item;
    }
}
/****************Dropdown******************/
 .dropdown-menu {
    //padding: 5px;
    border-top: none;
    border: #fff solid;
    border-radius: 0px;
    width:auto;
    min-width: 100%;
}
/*.dropdown:hover .dropdown-menu {
    display: block;
}*/
 .dropdown-menu>li a {
    text-align: left;
    color:#333;
    //padding-top: 5px;
}
.navbar .nav > li.dropdown.open.active > a:hover, .navbar .nav > li.dropdown.open > a {
    color: #CE6A00;
    background-color: #fff;
}
.dropdown-submenu {
    position:relative;
}
.dropdown-submenu > .dropdown-menu {
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    /*-webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;*/
}
.dropdown-submenu:hover > .dropdown-menu {
    display:block;
}
.dropdown-submenu > a:after {
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;
    margin-right:-10px;
}
.dropdown-submenu:hover > a:after {
    border-left-color:#ffffff;
}
.dropdown-submenu .pull-left {
    float:none;
}
.dropdown-submenu.pull-left > .dropdown-menu {
    left:-100%;
    margin-left:10px;
    /*-webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;*/
}
/*************************Slider*******************/
 .imgslider {
    margin-top: 0px;
    padding: 0px;
    position: relative;
}
.carousel .item {
    width: 100%;
    /*slider width*/
    max-height: 400px;
    /*slider height*/
}
.carousel .item img {
    width: 100%;
    height: auto;
    //float: left;
    max-height: 400px;
    /*img width*/
}
/*div.slider-block {
    width:150px;
    height:100px;
    min-width:150px;
    min-height:100px;
    max-width:200px;
    max-height:100px;
    overflow:hidden;
    display:block;
    border:1px solid red;
    background-color: red;
}*/
 .carousel .carousel-control {
    visibility: hidden;
    -webkit-transition-duration:.3s;
    -moz-transition-duration:.3s;
    -o-transition-duration:.3s;
    transition-duration:.5s;
    -ms-transition-duration:0s;
}
.carousel:hover .carousel-control {
    visibility: visible;
    -webkit-transition-duration:.3s;
    -moz-transition-duration:.3s;
    -o-transition-duration:.3s;
    transition-duration:.5s;
    -ms-transition-duration:0s;
}
.carousel-control .glyphicon-chevron-right {
    right: 20%;
}
.carousel-control .glyphicon-chevron-left {
    left: 20%;
}
.mcontent .row >.col-lg-8, .col-lg-4 >p {
    text-align: justify;
}
.slideinfo {
    background-color: rgba(36, 36, 36, .8);
    text-align: right;
    padding: 5px;
    right: 5%;
    left: 50%;
    bottom: 30px;
}
.slideinfo h1, p {
    margin-top: 5px;
    margin-right: 10px;
}
/*******************************UC**************************/
 .login {
    padding-bottom: 0px;
}
.uc {
    height: 160px;
    width: 45%;
    //margin-bottom: 30px;
    margin-left: 10px;
    background-color:#C22547;
    border-radius: 10px;
    box-shadow:inset 0 0 8px #444;
    -moz-box-shadow:inset 0 0 8px #444;
    -webkit-box-shadow:inset 0 0 8px #444;
}
.uc h3 {
    color: #fff;
    text-align: left;
    position: absolute;
    margin-left: 12px;
    text-transform: uppercase;
    text-shadow: 0px 0px 10px #000;
    bottom: 0px;
    vertical-align: baseline;
}
.uc a {
    text-decoration: none;
    position: absolute;
    margin-left: -15px;
    height: 150px;
    width: 100%;
}
.login .icon {
    position: absolute;
    top: auto;
    bottom: 10px;
    right: 10px;
    z-index: 0;
    font-size: 70px;
    color: rgba(0, 0, 0, 0.15);
}
.uc:hover {
    text-decoration: none;
    color: #f9f9f9;
}
.uc:hover .icon {
    animation-name: tansformAnimation;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    -webkit-animation-name: tansformAnimation;
    -webkit-animation-duration: .5s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-name: tansformAnimation;
    -moz-animation-duration: .5s;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease;
    -moz-animation-fill-mode: forwards;
    cursor: pointer;
}
@keyframes tansformAnimation {
    from {
        font-size: 70px;
    }
    to {
        font-size: 100px;
    }
}
@-webkit-keyframes tansformAnimation {
    from {
        font-size: 70px;
    }
    to {
        font-size: 100px;
    }
}
@media screen and (max-width: 500px) {
    .uc h3 {
        //margin-left: -40px;
        font-size: 0.8em;
    }
}
@media screen and (max-width: 980px) {
    .uc {
        //text-align: center;
        margin-top: 10px;
    }
    .uc .icon {
        display: none;
    }
    .uc p {
        font-size: 12px;
    }
}
/******************************News**************************/
 .news {
    padding-bottom: 10px;
}
/*.demof {
    border: 1px solid #ccc;
    border-radius: 4px;
    max-width: 400px;
}*/
.demof ul {
    padding: 0;
    list-style: none;
}
.demof li {
    padding: 10px 19px 10px 20px;
    border-bottom: 1px dashed #ccc;
    height:100px;
}
.demof li.even {
    background: #fafafa;
}
.demof li:after {
    content:'';
    display: block;
    clear: both;
}
.demof img {
    float: left;
    width: 177px;
    margin: 5px 15px 0 0;
}
.demof a {
    color:#A81818;
}
.demof a h4 {
    margin: 0px;
}
.demof p {
    margin: 15px 0 0;
    font-size: 14px;
}
/*******************SideBar***************/
 .sidebar-container {
    padding-top: 20px;
}
#section-1, #section-2, #section-3, #section-4, #section-5, #section-6>p {
    text-align: justify;
}
.sidebar-container .row >.col-lg-3>.list-group {
    margin-top: 20px;
}
@media (min-width: 1200px) {
    #sidebar.affix-top {
        position: static;
        margin-top:20px;
        width:350px;
    }
    #sidebar.affix {
        position: fixed;
        top:20px;
        width:350px;
    }
}
.affix-top, .affix {
    position: static;
}
#sidebar {
    border:1px solid #DCDCDC;
    border-radius: 0px;
    /*-webkit-box-shadow: 0 0px 6px #b5b5b5;
    -moz-box-shadow: 0 0px 6px #b5b5b5;
    box-shadow: 0 0px 6px #b5b5b5;*/
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
}
#sidebar>li {
    border-top:1px solid #DCDCDC;
    margin-bottom: -2px;
}
#sidebar>li>a:hover {
    /*
    border-width: 1px 5px 0px 0px;
    border-style: solid;
    border-color: #4C9ED9;
    border-top:1px solid #DCDCDC;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;*/
}
#sidebar>li:first-child {
    border-top:none;
}
#sidebar>li>a {
    color:#727272;
    padding: 10px 30px;
}
#sidebar>.active>a {
    background-color: #4C9ED9;
    color: #fff;
}
/*.list-group-item:hover,.list-group-item:focus,.list-group-item.active{
    background-color: #109DF0;
    color: #fff;
}
/*******************Scrolltotop****************/
 #scrolltotop {
    width: 48px;
    height: 48px;
    background: url('../images/top.png') no-repeat transparent;
    margin: 0px 15px 10px 0px;
    transition: all 0.2s ease-out 0s;
    border-radius: 3px;
}
/************************Content******************************/
 .faculty-title .panel_color {
    background-color: #D64E66;
    color:#fff;
}
.panel {
    background-color: #fff;
    color:#333;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
}
/***********************Footer********************************/
 .bottom {
    background-color: #3D3C3C;
    padding: 0px;
    color: #6c6c6c;
    font-size: 14px;
    overflow: hidden;
}
.bottom .container-fluid {
    background-color: #373737;
}
.bottom .container-fluid h5 {
    color: #999;
    font-size: 1.2em;
}
.bottom .container-fluid p {
    color: #a9a9a9;
}
.bottom .foot-up {
    border-bottom:1px solid #1b1b1b;
    padding-bottom: 10px;
    padding-top: 10px;
}
.bottom .foot-low {
    border-top:1px solid #4B4A4A;
    padding: 10px 0px 0px;
}
.bottom .foot-low .col-lg-12 p {
    font-size: 0.75em;
    color: #6c6c6c;
}
.social .fa {
    width:20px;
    font-size: 25pt;
}
.bottom ul {
    padding-left: 10px;
}
.foot-up a {
    padding-left: 10px;
    color: #6c6c6c;
}
.foot-up a:hover {
    color: #999;
}
/****************************Gallery*****************/
 .gallery a.thumbnail:hover, .gallery a.thumbnail:focus, .gallery a.thumbnail.active {
    border-color: #FFAC4F;
    -webkit-box-shadow: 0 0px 6px #FFAC4F;
    -moz-box-shadow: 0 0px 6px #FFAC4F;
    box-shadow: 0 0px 6px #FFAC4F;
    //z-index: 100;
}
.pp_social {
    visibility: hidden;
}
.gallery .thumbnail {
    margin-bottom: 0px;
}
.thumb h4 {
    margin-left: 20px;
}
/*************************Department**********************/
 .fac_btn {
    color: #FFF;
    background-color: #FA9123;
    border-color: #FA9123;
}
.fac_btn:hover, .fac_btn:focus, .fac_btn.active {
    background-color: #FA7E1F;
    border-color: #FA7E1F;
}
/*************************Faculty*************************/
 .title {
    padding-top: 30px;
}
.title h1 {
    text-shadow: 4px 4px 3px rgba(150, 150, 150, 0.5);
}
.media>.thumbnail>img {
    display: block;
    max-width:100px;
    min-height:100px;
    width: auto;
    height: auto;
}
.card {
    padding-top: 20px;
}
.media .thumbnail {
    margin-bottom: 0px;
}
.media>a.thumbnail:hover {
    border-color: #ddd;
}
.panel-body {
    padding: 0px 15px 0px 15px;
}
.panel-body>h2 {
    margin-top: 10px;
    text-align: center;
}
/**************************Profile******************************/
 .profile img {
    max-height: 200px;
    max-width: 200px;
}
.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.prof-title {
    padding-bottom: 20px;
}
.profile label {
    font-weight: 100;
}
.form-group>.col-lg-4 {
    min-width: 200px;
}
.prof-table th {
    text-align:center;
}
.prof-table {
    margin-top:10px;
}
.form-group p {
    margin-left: 20px;
    margin-top: 10px;
}
.form-group ul {
    text-align: justify;
}
.profile .panel-heading {
    padding:5px 10px;
    background-color: #cecece;
}
/*****************Contact us*********************/
 .contact-body {
    padding: 15px;
}
.contact-row {
    padding-top: 30px;
}
.contact .panel-heading {
    color: #fff;
    background-color: #4C9ED9;
    padding:5px 10px;
}
.fluid-wrapper iframe {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    border: none;
}
.address {
    padding: 15px;
    text-align: left;
}
.container h3 {
    margin-top:10px;
}
