<div class="row-fluid title">
        <div class="col-lg-12">
            <h1>Department of Civil Engineering</h1>
        </div>
    </div>
    <div class="container sidebar-container">
        <div class="row">
            <div class="col-lg-4" id="leftCol">
                <ul class="nav-stacked affix-top" id="sidebar">
                    <li style="padding: 10px" class="active"><a href="#section-1">HOD's Desk</a>
                    </li>
                    <li style="padding: 10px"><a href="#section-2">Faculty</a>
                    </li>
                    <li style="padding: 10px" > <a href="#section-3">Courses</a>
                    </li>
                    <li style="padding: 10px"><a href="#section-4">Facility</a>
                    </li>
                    <li style="padding: 10px"><a href="#section-5">Association</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-8">
                <div id="section-1">
                    <h2>HOD's Desk</h2>
                    <p>The Department of Civil Engineering was started in the year 2008 and has been a part of the institution since its inception and growing across years in a tremendous manner bridging the gap between students and infrastructural industry.</p>
                    <hr>
                </div>
                <div id="section-2">
                    <h2>Faculty</h2>
                    <p>The Department of Civil Engineering is a vibrant synergy of a group leading faculties with extensive theoretical and practical experience and implant deep knowledge in learning process of the students.</p>
                    <p class="no-indent"><a class="btn btn-info fac_btn" href="/#!/civil/faculty"><strong>View Faculty Details</strong> <i class="fa fa-angle-double-right"></i></a></p>
                    <hr>
                </div>
                <div id="section-3">
                    <h2>Courses</h2>
                    <p>The Department of Civil Engineering offers various courses like B.E. Geoinformatics , M.E. Environmental Engineering, M.E. Structural Engineering and M.Tech. Remote Sensing.</p>
                    <hr>
                </div>
                <div id="section-4">
                    <h2>Facilities</h2>
                    <p>The Environmental Engineering laboratory is equipped with most of the sophisticated instruments such as Atomic Absorption Spectrometer for heavy metals analysis in ppb levels, Gas Chromatographs, Ion Chromatograph and a high performance liquid chromatograph for analyzing  organic and inorganic compounds. It has also with it various equipments like UV-Visible spectrometer, Ion Meter, Sonicator, Advanced microscope and Rotary Evaporator. The division has other provisions such as micro- biology, chemistry and unit operation laboratories to accomplish the need of research students.</p>
                    <hr>
                </div>
                <div id="section-5">
                    <h1>Association</h1>
                    <p>‘Geoinformatics Society’ has been formed by the efforts of the students in coordination with the staff members and organized various events for the students to show off their talents.</p>
                    <p class="no-indent"><a class="btn btn-info fac_btn" href="Geosociety/index1.aspx"><strong>Geosociety Site </strong> <i class="fa fa-angle-double-right"></i></a></p>
                    <hr>
                </div>
            </div>
        </div>
    </div>
 