<div class="row-fluid title">
        <div class="col-lg-12">
            <h1>NPTEL -National Project on Technology Enhanced Learning
</h1>
        </div>
    </div>
    <div class="container sidebar-container">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <div id="section-1">

                    <p>
                  Contents are  Coming soon
                    </p><!-- Regional Centre of Anna University, Tirunelveli organized a “One day NPTEL (National Programme on Technology &amp; Enhanced Learning) workshop” on 20th April 2013 (Saturday).  The main objective of NPTEL is to enhance the quality of engineering and science education in the country by developing contents for undergraduate and postgraduate curricula using video and web based courses. These courses cover the syllabi prescribed by universities and approved by AICTE.</p>
                    <p>NPTEL hosts the learning materials in the format of pdf, video lectures and web based link given by the subject matter experts from different IITs. These contents can be downloaded /copied from the NPTEL portal (<a href="http://nptel.iitm.ac.in">http://nptel.iitm.ac.in</a>) and can be shared to the faculties &amp; students. </p>
                    <p>Regional Centre of Anna University, Tirunelveli have two 2 TB (Tera byte) hard disks – Phase I and Phase II, so that all the lectures can be copied and always accessible to the students &amp; faculties.</p> -->
                    <hr>
                </div>
                <div id="section-2">
                    <h2>Important links:</h2>
                    <ul>
                        <li><a href="facilities/NPTEL Document.pdf">NPTEL-Overview</a>
                        </li>
                        <li> <a href="facilities/Course List NPTEL.xlsx">Course list </a>
                        </li>
                        <li> <a href="facilities/NPTEL request lr - students .doc">NPTEL content Request letter - Students</a>
                        </li>
                    </ul>
                    <hr>
                </div>
                <div id="section-1">
                <div class="col-lg-6">
            

                    <h2>Contact Details</h2>
                   <!--  <address>NPTEL coordinator–Mr.K.Saravanan<br>Asst.Prof/Computer Science &amp; Engineering<br> Email:saravanan.krishnann@gmail.com <br>Contact no-9791005395
                    </address> -->
                    <hr>
                </div>
                </div>
                 <div class="col-lg-6">
                 </div>
                        </div>
            <div class="col-lg-1"></div>
        </div>
    </div>