<div style="background-color: rgba(128, 128, 128, 0.22);margin: 70px;padding: 50px" class="container gallery">
      <div id="fpGallery" class="fpGallery" style="opacity: 1;"><!--
  fpGallery v1.1 - 2013-08-30
  (c) 2013 Harry Ghazanian - foliopages.com/php-jquery-ajax-photo-gallery-no-database
  This content is released under the http://www.opensource.org/licenses/mit-license.php MIT License.
-->

<div class="fp">


   <div class="titlebar">
     <div><span class="title">Cad Lab Facility</span> - 1 images</div>
     <div class="float-right"><a href="/#!/Campusgallery" style="color: #fff;
    background-color: #3276b1;
    border-color: #285e8e;" class="refresh btn btn-primary"><i class="fa fa-angle-double-left"></i> View All Albums</a></div>   </div>  
   
   <div class="clear"></div>       
             <div class="thumb shadow">
             <div class="thumb-wrapper">
           <a href="images/gallery/cad/CAD LABORATORYfull.jpg" title="Akash Remote Centre " class="albumpix cboxElement">
            <img src="images/gallery/cad/CAD LABORATORYfull.jpg" style="border: solid;border-color: black"  width="266" alt="CAD LABORATORY .JPG">
           </a>
         </div>  
      </div>
         
     

     <div class="clear"></div>
  
     <div align="center" class="paginate-wrapper">
             </div>
   
   </div></div>
    </div>