<div class="row-fluid title">
        <div class="col-lg-12">
            <h1>IIT Bombay &amp; IIT Kharagpur - Remote Centre</h1>
        </div>
    </div>
    <div class="container sidebar-container">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <div id="section-1">

                    <p>Anna University, Dindigul is one of the remote centers of IIT Bombay and actively conducts many ISTE workshops to the benefit of the faculty and students.</p>
                    <p>ISTE workshops will be conducted through the DISTANCE EDUCATION mode. The workshop will be transmitted live through internet (A-View software) to various coordinating remote centers across the country. All the activities of this workshop will be done exclusively at the coordinating remote centers. </p>
                    <hr>
                </div>
                <div id="section-2">
                 <div class="col-lg-12">
                 <h2>ISTE workshops conducted by Regional Centre of Anna University Dindigul</h2>
                 
                            <table class="table table-bordered prof-table">
                                <thead>
                                    <tr>
                                        <th>S.No</th>
                                        <th>Workshop</th>
                                        <th>Date</th>
                                        <th>No of Days</th>
                                        <th>Association</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Aakash For Education</td>
                                        <td>10th - 11th November 2012</td>
                                        <td>2</td>
                                        <td>IIT Bombay</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>2 weeks ISTE workshop on Engineering Thermodynamics</td>
                                        <td>11th – 21st December 2012</td>
                                        <td>10</td>
                                        <td>IIT Bombay</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>4 Days Aakash Android Application Programming Workshop</td>
                                        <td>23rd &amp; 24th  Feb 2013,2nd  &amp; 3rd March 2013</td>
                                        <td>4</td>
                                        <td>IIT Bombay</td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>TWO-WEEK ISTE Workshop on Database Management Systems</td>
                                        <td>21st – 31st May, 2013</td>
                                        <td>10</td>
                                        <td>IIT Bombay</td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>Two-Week ISTE Main Workshop on Analog Electronics</td>
                                        <td>4th June- 14th June, 2013</td>
                                        <td>10</td>
                                        <td>IIT Kharagpur</td>
                                    </tr>
                                    <tr>
                                        <td>6</td>
                                        <td>Half Day workshop on Green Building Awareness</td>
                                        <td>24th August 2013</td>
                                        <td>1</td>
                                        <td>IIT Bombay</td>
                                    </tr>
                                    <tr>
                                        <td>7</td>
                                        <td>2 weeks ISTE workshop on Engineering Mechanics</td>
                                        <td>26th November - 6th December 2013</td>
                                        <td>10</td>
                                        <td>IIT Bombay</td>
                                    </tr>
                                    <tr>
                                        <td>8</td>
                                        <td>Two-Week ISTE Main Workshop on Signals and Systems</td>
                                        <td>2nd January to 12th Januray 2014</td>
                                        <td>10</td>
                                        <td>IIT Kharagpur</td>
                                    </tr>
                                    <tr>
                                        <td>9</td>
                                        <td>2 weeks ISTE workshop on Fluid dynamics</td>
                                        <td>20th May to 30th May 2014</td>
                                        <td>10</td>
                                        <td>IIT Kharagpur</td>
                                    </tr>
                                    <tr>
                                        <td>10</td>
                                        <td>Two-Week ISTE Main Workshop on Computer Programming</td>
                                        <td>16th June to 21st June 2014</td>
                                        <td>6</td>
                                        <td>IIT Bombay</td>
                                    </tr>
                                    <tr>
                                        <td>11</td>
                                        <td>Two-Week ISTE Main Workshop on Computer Networking</td>
                                        <td>30th June to 5th July 2014</td>
                                        <td>6</td>
                                        <td>IIT Bombay</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
            
         
        
                <div id="section-3">
                    <h2>Important links:</h2>
                    <ul>
                        <li><a href="http://www.it.iitb.ac.in/nmeict/" target="_blank">National Mission On Education through ICT</a>
                        </li>
                        
                    </ul>
                    <hr>
                </div>
                <div id="section-4">
                <div class="col-lg-6">
            

                    <h2>Contact Details</h2>
                   <!--  <address>Remote Centre Coordinator –Mr.K.Saravanan<br>Asst.Prof/Computer Science &amp; Engineering<br> Email:saravanan.krishnann@gmail.com <br>Contact no-9791005395
                    </address> -->
                    <hr>
                </div>
                </div>
                 <div class="col-lg-6">
                 </div>
                </div>
            <div class="col-lg-1"></div>
        </div>
    </div>