<div class="row-fluid title">
        <div class="col-lg-12">
            <h1>IIRS (Indian Institute of Remote Sensing)</h1>
            <h2>Satellite Based Distance Learning Program</h2>
        </div>
    </div>
    <div class="container sidebar-container">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <div id="section-1">
                    <p>IIRS (Indian Institute of Remote Sensing) is conducting a Satellite based distance learning program on regular basis. Remote centres located across the country can listen the live video lectures and also interact with subject experts.Our institute is one of the remote centres to telecast this program. The entire program is scheduled from 4:00 PM to 5:30 PM on week days.  The faculty members and students can participate in these programs.</p>
                    <p>On successful completion of the program, offline test will be conducted. Participants with the proper attendance and test marks will receive the certificate from IIRS.</p>
                    <h3>List of programs conducted:</h3>
					<ul>
						<li>11th Satellite based distance learning program on "Basics of RS, GIS &amp; GNSS” scheduled from 5th August, 2013 to 4th November, 2013 – 46 faculty and students received the IIRS certificates.</li>
						<li>12th Satellite based Distance Learning Program on "Microwave (SAR)Remote Sensing for Natural Resources" conducted during February 03 – March 29, 2014</li>
					</ul>
					<h3>Upcoming Program:</h3>
					<ul>
						<li>13th Satellite based Distance Learning Program on "Basics of RS, GIS &amp; GNSS" conducted during August 04 – November 14, 2014</li>
					</ul>
                    <hr>
                </div>
                <div id="section-2">
                    <h2>Important links:</h2>
                    <ul>
                        <li><a href="http://www.iirs.gov.in/">IIRS - Home Page</a>
                        </li>
                        <li> <a href="http://www.iirs.gov.in/Edusat-News">IIRS - EDUSAT News</a>
                        </li>
                        <li> <a href="http://iirs.gov.in/iirs/sites/default/files/pdf/13th_Course_Brochure_IIRS_Outreach_Programme.pdf">IIRS Outreach Programme</a>
                        </li>
                        <li><a href="http://bis.iirs.gov.in/edusat_13course_registration">IIRS - Registration</a>
                        </li>
                    </ul>
                    <hr>
                </div>
                <div id="section-1">
                <div class="col-lg-6">
            

                    <h2>Contact Details</h2>
                    <!--<address><strong>Remote Centre Coordinator</strong> – Mr.K.Saravanan<br>Asst.Prof/ Computer Science &amp; Engineering<br> Email:saravanan.krishnann@gmail.com <br>Contact no-9791005395
                    </address>
                    <address><strong>Programme coordinator</strong> – Mr.N.Sakthieswaran<br>Asst.Prof/Civil Engineering<br> Email:sakthistructrichy@gmail.com <br>
                    </address>
                     --><hr>
                </div>
                </div>
                 <div class="col-lg-6">
                 </div>
                        </div>
            <div class="col-lg-1"></div>
        </div>
    </div>