<style class="ng-scope">
      .modal-body {
          padding:5px !important;
      }
      .modal-content {
          border-radius:0;
      }
      .modal-dialog img {
          text-align:center;
          margin:0 auto;
      }
    .controls{          
        width:50px;
        display:block;
        font-size:11px;
        padding-top:8px;
        font-weight:bold;          
    }
    .next {
        float:right;
        text-align:right;
    }
      /*override modal for demo only*/
      .modal-dialog {
          max-width:500px;
          padding-top: 90px;
      }
      @media screen and (min-width: 768px){
          .modal-dialog {
              width:500px;
              padding-top: 90px;
          }          
      }
      @media screen and (max-width:1500px){
          #ads {
              display:none;
          }
      }
  </style>
  <div class="container gallery">
        <div id="fpGallery" class="fpGallery" style="opacity: 1;">
<div class="fp">

<div class="row-fluid title">
        <div class="col-lg-12">
            <h1>Gallery</h1>
        </div>
    </div>
    <div class="container sidebar-container" style="background-color: rgba(128, 128, 128, 0.22);">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-14">
        
        <ul class="row">
     <!--    <div class="thumb-album shadow"> -->

        <div class="thumb-album shadow" style="margin: 20px;
    /* padding: 0px; */
    border: solid;
    border-color: black;" >
                
          <div class="thumb-wrapper">
             <a class="showAlb" rel="Aakash Remote Centre" href="/#!/slider/akash">
               <img src="images/gallery/aakash/DSC_0173.jpg" width="266" alt="Aakash Remote Centre"> 
             </a> 
          </div>
              
          <a style="margin-bottom: 20px;" class="showAlb" rel="Aakash Remote Centre" href="/#!/slider/akash">
            Aakash Remote Centre          </a>
                
        </div>


        <div class="thumb-album shadow" style="margin: 20px;
    /* padding: 0px; */
    border: solid;
    border-color: black;" >
                
          <div class="thumb-wrapper">
             <a class="showAlb" rel="Aakash Remote Centre" href="/#!/slider/cad">
               <img src="images/gallery/cad/CAD LABORATORY.jpg" width="266" alt="Aakash Remote Centre"> 
             </a> 
          </div>
              
          <a style="margin-bottom: 20px;" class="showAlb" rel="Aakash Remote Centre" href="/#!/slider/cad">
            CAD LAB FACILITY         </a>
                
        </div>

         <div class="thumb-album shadow" style="margin: 20px;
    /* padding: 0px; */
    border: solid;
    border-color: black;" >
                
          <div class="thumb-wrapper">
             <a class="showAlb" rel="Aakash Remote Centre" href="/#!/slider/futureIndia">
               <img src="images/gallery/futureIndia/IMG_6506 (FILEminimizer).jpg" width="266" alt="Aakash Remote Centre"> 
             </a> 
          </div>
              
          <a style="margin-bottom: 20px;" class="showAlb" rel="Aakash Remote Centre" href="/#!/slider/futureIndia">
           Energising Future India </a>
                
        </div>

          <div class="thumb-album shadow" style="margin: 20px;
    /* padding: 0px; */
    border: solid;
    border-color: black;" >
                
          <div class="thumb-wrapper">
             <a class="showAlb" rel="Aakash Remote Centre" href="/#!/slider/tamil/mandram">
               <img src="images/gallery/tamil/DSC_0620.jpg" width="266" alt="Aakash Remote Centre"> 
             </a> 
          </div>
              
          <a style="margin-bottom: 20px;" class="showAlb" rel="Aakash Remote Centre" href="/#!/slider/tamil/mandram">
           Tamil Mandram </a>
                
        </div>

                        
                   <!--  <div class="thumb-wrapper">
                       <a class="showAlb" rel="Aakash Remote Centre" href="/#!/slider1">
                         <img src="images/place1.jpg" width="266" alt="Aakash Remote Centre"> 
                       </a> 
                    </div>
                        
                    <a class="showAlb" rel="Aakash Remote Centre" href="?album=Aakash+Remote+Centre">
                        Aakash Remote Centre                    </a>
                     -->
                </div>
         
    </div> <!-- /container -->
    
     
    <div class="modal fade ng-scope" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
      <div class="modal-dialog">
        <div class="modal-content">         
          <div class="modal-body"></div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    
  
<script type="text/javascript" class="ng-scope">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36251023-1']);
  _gaq.push(['_setDomainName', 'jqueryscript.net']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script></div>
</div>
</div>
</div>
</div>
