<div class="row-fluid title">
        <div class="col-lg-12">
            <h1>Student Affairs</h1>
        </div>
    </div>
    <div class="container sidebar-container">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <div id="section-1">
                    <p> Coming soon</p>
                    <hr>
                </div>
                <div id="section-2">
                    <h2>Main Objectives of the Centre</h2>
                    <ul>
                    <li>Coming soon</li>
                   <!--  <li>On receipt of approval orders for readmission and transfer from the Directorate of Technical Education, the Centre provides approval to the Colleges concerned, after verifying the eligiblity from the Controller of Examinations.</li>
                    <li>The Centre issues approval orders for Name change of students as per the Tamilnadu Government Gazette and break of study based on Medical Certificate.</li>
                    <li> Provisional Eligibility Certificate is issued to the candidates seeking admission under Non Resident Indian(NRI) category / Person of Indian Origin (PIO) / Foreign National (FN) category. </li> -->
                    </ul>
                   <hr>
                </div>
                <div id="section-4">
                <div class="col-lg-6">
                    <h2>Student Affiars Section Staff</h2>
                    <ul>
                    <li>Coming soon</li>
                    <!-- <li>Mrs.Mala,Junior Assistant</li> -->
                    </ul>
                    <hr>
                </div>
                </div>
                 <div class="col-lg-6">
                 </div>
                 
            
                        </div>
            </div>
            <div class="col-lg-1"></div>
        </div>