<nav style="background-color: #303030" id="sidebar1">
            <div class="logo-container">
                    <img src="../images/logo-white.png" style="margin: 20%;width: 120px;height: 110px;" class="img img-middle logo">
                </div>
                <ul class="list-unstyled components">
                   <li>
                   <a href="/#!/placement">Home</a>
                   </li>
                     <li>
                        <a href="/#!/placeTraining">Training</a>
                    </li>
                    <li>
                        <a href="/#!/slider">Gallery</a>
                    </li>
                    <li>
                        <a href="/#!/placeAchievers">Achievers</a>
                    </li>
                    <li class="active" style="background-image: url(../images/arrow.png); background-repeat: no-repeat;
    background-position: right;">
                        <a href="/#!/placeNews">News and Events</a>
                    </li>
                    <li>
                        <a href="/#!/placement/contact">Contact</a>
                    </li>
                </ul>
            </nav>  
<div class="main" style="margin-left: 20%;padding: 20px;
    padding-right: 40px;
    padding-left: 280px">
                <h1 class="page-header">News and Events</h1>
				<div class="row row-content">
								</div>	
			</div>
