 <nav style="background-color: #303030" id="sidebar1">
            <div class="logo-container">
                    <img src="../images/logo-white.png" style="margin: 20%;width: 120px;height: 110px;" class="img img-middle logo">
                </div>
                <ul class="list-unstyled components">
                <li>
                   <a href="/#!/placement">Home</a>
                   </li>
                     <li class="active" style="background-image: url(../images/arrow.png); background-repeat: no-repeat;
    background-position: right;">
                        <a href="/#!/placeTraining">Training</a>
                    </li>
                    <li>
                        <a href="/#!/slider">Gallery</a>
                    </li>
                    <li>
                        <a href="/#!/placeAchievers">Achievers</a>
                    </li>
                    <li>
                        <a href="/#!/placeNews">News and Events</a>
                    </li>
                    <li>
                        <a href="/#!/placement/contact">Contact</a>
                    </li>
                </ul>
            </nav>  
<div class="main" style="margin-left: 20%;">
                <h1 class="page-header">Training</h1>
                 <div class="achievers-heading" style="text-align:center">
                        <h2><i class="fa fa-star"></i>&nbsp;2015-2016&nbsp;<i class="fa fa-star"></i></h2>
                    </div>
			<hr>
			<ul>
			<li><p>
       


            </p></li>
		<li><p>
      


        </p></li>
		<li><p>
      

        </p></li>
		<li><p>
      

        </p></li></ul><hr>
 

		<div class="achievers-heading" style="text-align:center">
                        <h2><i class="fa fa-star"></i>&nbsp;2014-2015&nbsp;<i class="fa fa-star"></i></h2>
                    </div>
			<hr>
			<ul>
			<li><p>


            </p></li>
		<li><p>
      
            
        </p></li></ul><hr>


		<div class="achievers-heading" style="text-align:center">
                        <h2><i class="fa fa-star"></i>&nbsp;2013-2014&nbsp;<i class="fa fa-star"></i></h2>
                    </div>
			<hr>
			<ul>
			<li><p>
       

            </p></li>
		<li><p>
      


        </p></li>
		<li><p>





        </p></li></ul><hr>

            </div>