<div class="row-fluid title">
        <div class="col-lg-12">
            <h1>National Service Scheme</h1>
        </div>
    </div>
    <div class="container sidebar-container">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <div id="section-1">
                    <p>The NSS cell of Anna University Dindigul actively conducted many programmes towards
                    the welfare of the students community and the society. Every year NSS unit conducts Special Camp in small
                    villages towards the welfare of the village people.</p>
                    <hr>
                </div>
                <div id="section-4">
                <h2>Objectives</h2>
                    <ul>
                    <li>To understand the community in which they work</li>
                    <li>To understand themselves in relation to their community</li>
                    <li>To identify the needs and problems of the community and involve them in problem-solving</li>
                    <li>To develop among themselves a sense of social and civic responsibility</li>
                    <li>To utilise their knowledge in finding practical solutions to individual and community problems</li>
                    <li>To develop competence required for group-living and sharing of responsibilities</li>
                    <li>To gain skills in mobilising community participation</li>
                    <li>To acquire leadership qualities and democratic attitudes</li>
                    <li>To develop capacity to meet emergencies and natural disasters and</li>
                    <li>To practise national integration and social harmony</li>
                    </ul><hr>
                </div>
                <div id="section-2">
                <h2>Achievements</h2>
                    <p>A Mega Sapling Planting Programme was conducted in our campus. Nearly 200 saplings were planted
                    in and around the campus. Blood Donation camp was organized with the help of Tirunelveli Medical College
                    Hospital. In our campus, AIDS awareness programme was conducted jointly with the Rotary Club of Tirunelveli
                    North by organizing an Inter Collegiate Cultural Programme. The main objective of the cultural meet was to
                    bring out the hidden talents among the students and create awareness about AIDS. More than 200 students
                    participated in various events like Solo Dance, Group Dance, Variety Entertainment, Drawing, Elocution,
                    Mimicry, etc.</p>
                    <hr>
                </div>
                <div id="section-3">
                <h2>Further More...</h2>
                    <p>Every year NSS unit of Regional Office organizes special camp. This year NSS Regional Centre, Chennai
                        encouraged our NSS volunteers to attend a Special Adventure Camp in Dharmasala(HP). Nearly 22 volunteers
                        and 2 NSS Programme Officers participated in the Adventure Camp from our Region.</p>
                    <hr>
                </div>
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>