<div class="row-fluid title">
        <div class="col-lg-12">
            <h1>Quality Improvement Cell – Nodal Centre</h1>
        </div>
    </div>
    <div class="container sidebar-container">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <div id="section-1">

                    <p>Anna university, with a view to enhance the comprehension of the subject Mathematics, English, Physics and Engineering Mathematics by first year engineering students, will be conducting bridge course in Mathematics, English, Physics and Engineering Mathematics for 15 working days in the semester, before commencement of regular classes. These bridge courses will be conducted from Anna University and Nodal Centre colleges to all cluster colleges through Audio-Video link. Therefore, all the affiliated Engineering colleges are requested to utilized  the available projector internet enabled class rooms and audio systems to create smart class room, as per Annexure-1.once the hardware is in place a video conferencing system should be set up utilizing the software called AVIEW. The requirements and specifications are provided in www.aview.in and also at www.cfd.annauniv.edu. Aview will be used to broadcast above bridge courses delivered by experts in these fields.This will definitely enhance the quality of our students and prepare them to accumulate knowledge essential for engineering syallabus in the first year.All the colleges who have Aview installed in their smart class rooms, they will be able to show these classes to their students/faculty without any infrastructure related costs.</p>
                    <p> Anna University, Dindigul is one of the nodal Centre managing 33 cluster colleges. We conducted Aview testing with the cluster colleges for audio &amp; video facilities.</p>
                    <p>Centre for Faculty Development, Anna University, Chennai conducted Bridge course for the faculty from Mathematics, Engish and Physics on 25th &amp; 26th June 2014 under the cluster colleges of Anna University, Dindigul. </p>
                    <hr>
                </div>
                <div id="section-2">
                 <div class="col-lg-12">
                 
                 
                            <table class="table table-bordered prof-table">
                                <thead>
                                    <tr>
                                        <th>S.No</th>
                                        <th>Name of Resources</th>
                                        <th>Availability of the following resources Internet/intranet/Hard disk/CD</th>
                                        <th>Date of Implementation</th>
                                        <th>No of Sites/Systems</th>
                                        <th>No of students availed</th>
                                        <th>No of hours accessed</th>
                                        <th>Improvement in performance in terms of results</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>NPTEL videos</td>
                                        <td>Hard Disk – 4 TB (Phase 1 &amp; Phase 2 ) – Videos, Web content available.NPTEL awareness programme conducted on 20th April 2013 by Mangala Sundar,IIT Madras,NPTEL coordinator </td>
                                        <td>March 2013</td>
                                        <td>3</td>
                                        <td>40</td>
                                        <td>60</td>
                                        <td>Staff members can use the available materials for effective teaching. Students used for self-learning.</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Bridge course CDs through DOTE</td>
                                        <td>Course materials available for English &amp; Math subjects in CD. </td>
                                        <td>August 2013</td>
                                        <td>1</td>
                                        <td>200</td>
                                        <td>30</td>
                                        <td>Improved communication skills and mathematical ability among the students.</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>EDUSAT classes by CFD</td>
                                        <td>Live programme through satellite antenna.</td>
                                        <td>January 2013</td>
                                        <td>1</td>
                                        <td>160</td>
                                        <td>100</td>
                                        <td>Placement training programme effectively taught to know about the GD, technical and HR interview. Expert lectures gave the depth of knowledge in the subjects.</td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>Spoken Tutorial by IIT- Bombay through NMEICT</td>
                                        <td>Free open source software training through video tutorials available in web and CD format.<br>8 workshops conducted and 210 students received certificates from IIT Bombay.<br>Open source software awareness programme conducted by Dr.Shyama Iyer from IIT Bombay on 22 October 2013.</td>
                                        <td>July 2012</td>
                                        <td>30</td>
                                        <td>350</td>
                                        <td>500</td>
                                        <td>Improves self-learning and creates awareness about the free open source software’s.</td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>Aakash project Centre – Aakash tablets</td>
                                        <td>246 Aakash tablets received from IIT Bombay. 56 tablets issued to Staff members. 45 tablets issued for Android development in tablets.Conducted workshops for students (256) and Staff (52) on Aakash education.</td>
                                        <td>September 2012</td>
                                        <td>1</td>
                                        <td>45</td>
                                        <td>150</td>
                                        <td>Improves self-learning and android development. Also can use the tablets for viewing the web lectures.</td>
                                    </tr>
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
            
         
        
                <div id="section-3">
                    <h2>Important links:</h2>
                    <ul>
                        <li><a href="http://cfd.annauniv.edu" target="_blank">Centre for Faculty Development</a>
                        </li>
                        <li><a href="http://aview.in" target="_blank">Amrita Virtual Interactive E-Learning World</a>
                        </li>
                        <li><a href="facilities/client side installation for AVC 3.7.pdf">Client side installation of Aview</a></li>
                        <li><a href="facilities/videoconferencerequirements.pdf">Video conference requirements</a></li>
                        <li><a href="facilities/List of Colleges under Nodal Centre.pdf">List of Colleges under Nodal Centre -Regional Centre of Anna University, Tirunelveli</a></li>
                    </ul>
                    <hr>
                </div>
                <div id="section-4">
                <div class="col-lg-6">
            

                    <h2>Contact Details</h2>
                   <!--  <address>QIC Coordinator–Mr.K.Saravanan<br>Asst.Prof/Computer Science &amp; Engineering<br> Email:qicautvl@annauniv.edu<br>Contact no-9791005395
                    </address> -->
                    <hr>
                </div>
                </div>
                 <div class="col-lg-6">
                 </div>
                        </div>
            <div class="col-lg-1"></div>
        </div>
    </div>