<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Anna University Dindigul</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
 
  <!-- <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script> -->
</head>
<body>

<link rel="shortcut icon" type="image/x-icon" href="../img/favicon.ico" />
<div ng-if="come" class="container-fluid header">
    <!-- <div class="row-fluid top-nav">

    </div> -->
    <header  class="row" style="background-color: rgb(2, 29, 56);">
    <div class="col-lg-8" style="height: 55%">      <h1 style="white-space: pre;background-color: rgb(2, 29, 56); color: white;font-family: 'Montserrat', 'Arial', sans-serif;font-size: 35px;font-weight: bold;padding: 3%;margin-left: 25%">
University College of Engineering
Anna University Campus
Anna University,Dindigul - 620 024.
      </h1>
      </div>
      <div  class="col-lg-4" style="height: 55%;">
         <img style="padding: 10%;" src="images/logo-white.png" width="55%" height="55%" />
      </div>
    </header>

    <!-- <div class="row-fluid banner">
        <img src="images/web.png" class="img-responsive" />
    </div> -->
    <div class="navbar main-nav " role="navigation">
    
            <div class="container-fluid" style="height: 70px;">
                <div id="eg">
                    <div class="row mnnav">
                        <div class="col-lg-12">
                            <ul class="navbar-nav nav">
                                <li><a href="/#!/home">Home</a>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">Administration</a>
                                    <ul class="dropdown-menu">
                                    <br>
                                        <li><a href="/#!/admnRegionalOffice" tabindex="-1">Regional Office</a>
                                        </li>
                                        <br><br>
                                        <li class="divider"></li>
                                        <li><a href="" tabindex="-1">Dean's Desk</a>
                                        </li>
                                        
                                    </ul>
                                </li>
                            <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">Academic</a>
                                    <ul class="dropdown-menu">
                                    <br>
                                        <li><a href="/#!/courses" tabindex="-1" centre>Courses</a>
                                        </li>
                                        <br>
                                        <br>
                                        <li class="divider"></li>
                                        <li><a href="" tabindex="-1">Curriculum</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">Centres</a>
                                    <ul class="dropdown-menu">
                                    <br>
                                        <li><a href="/#!/centresAfffiliations" tabindex="-1">Affiliation</a>
                                        </li>
                                        <br>
                                        <br>
                                        <li class="divider"></li>
                                        <li><a href="/#!/studentAffairs" style="white-space: pre" tabindex="-1">Student Affairs</a>
                                        </li>
                                        <br>
                                        <br>
                                        <li class="divider"></li>
                                        <li><a href="" tabindex="-1">Research</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">Departments</a>
                                    <ul class="dropdown-menu">
                                    <br>
                                        <li><a href="/#!/depCivil" tabindex="-1">Civil Engineering</a>
                                        </li>
                                        <li class="divider"></li>
                                        <br><br>
                              <li><a href="/#!/CSE" style="white-space: pre" tabindex="-1">Computer Science & Engineering</a>
                                        </li>
                                        <li class="divider"></li>
                                        <br><br>
                                        <li><a href="/#!/ECE" style="white-space: pre"  tabindex="-1">Electronics & Communication Engineering</a>
                                        </li>
                                        <li class="divider"></li>
                                        <br><br>
                                        <li><a href="/#!/EEE" style="white-space: pre"  tabindex="-1">Electrical & Electronics Engineering</a>
                                        </li>
                                        <br><br>
                                        <li class="divider"></li>
                                        <li><a href="/#!/MECH" style="white-space: pre"  tabindex="-1">Mechanical Engineering</a>
                                        </li>
                                        <br><br>
                                        <li class="divider"></li>
                                        <li><a href="/#!/MBA" style="white-space: pre"  tabindex="-1">Management Studies</a>
                                        </li>
                                        <br><br>
                                        <li class="divider"></li>
                                        <li><a href="/#!/MCA" style="white-space: pre"  tabindex="-1">Computer Applications</a>
                                        </li>
                                        <br><br>
                                        <li class="divider"></li>
                                        <li><a href="/#!/sciHum" style="white-space: pre"  tabindex="-1">Science & Humanities</a>
                                        </li>
                                    </ul>
                                </li>
                                
                                <li class="dropdown">
                                    <a href="" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">Campus Life</a>
                                    <ul class="dropdown-menu">
                                    <br>
                                        <li><a href="/#!/Campusculture" tabindex="-1">Arts & Culture</a>
                                        </li>
                                        <br><br>
                                        <li class="divider"></li>
                                        <li><a href="/#!/Campusgallery" tabindex="-1">Gallery</a>
                                        </li>
                                        <br><br>
                                        <li class="divider"></li>
                                        <li class="dropdown-submenu"><a href="" tabindex="-1">Facilities</a>
                                        <br><br>
                                            <ul class="dropdown-menu">
                                                <li><a href="/#!/Facilitiesaakash" tabindex="-1">AAKASH</a>
                                                </li>
                                                <br><br>
                                                <li class="divider"></li>
                                                <li><a href="/#!/Facilitiesnptel" tabindex="-1">NPTEL</a>
                                                </li>
                                                <br><br>
                                                <li class="divider"></li>
                                                <li><a href="/#!/Facilitiesiste" tabindex="-1">ISTE</a>
                                                </li>
                                                <br><br>
                                                <li class="divider"></li>
                                                <li><a href="/#!/Campusnodal" tabindex="-1">QIC-Nodal Centre</a>
                                                </li>
                                                <br><br>
                                                <li class="divider"></li>
                                                <li><a href="/#!/Facilitiesiit" tabindex="-1">IIT-B IIT-K Centre</a>
                                                </li>
                                                <br><br>
                                                <li class="divider"></li>
                                                <li><a href="/#!/Facilitiesirs" tabindex="-1">IIRS</a>
                                                </li><br>
                                            </ul>
                                        </li><br><br>
                                        <li class="divider"></li>
                                        <li><a href="/#!/CampusSports" tabindex="-1">Sports</a>
                                        </li>
                                        <br><br>
                                        <li class="divider"></li>
                                        <li><a href="/#!/CampusSocial" tabindex="-1">Social Services</a>
                                        </li>
                                        <br><br>
                                        <li class="divider"></li>
                                        <li><a href="" tabindex="-1">Student Life</a>
                                        </li>
                                        <br>
                                    </ul>
                                </li>
                                <li><a href="/#!/placement">Placement Cell</a>
                                </li>
                                <li><a href="/#!/contactUs">Contact Us</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 <!-- <div ng-include="'headerandNav/headerandNav.html'"> -->
  

  <!-- [if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif] -->

  <div ng-view></div>
  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->

  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="app.js"></script>
  <script src="view1/view1.js"></script>
  <script src="view2/view2.js"></script>
  <script src="administration/regionalOffice/admnRegionalOffice.js"></script>
  <script src="centres/affiliation/affiliation.js"></script>
  <script src="centres/studentAffairs/affairs.js"></script>
  <script src="departments/civil/civil.js"></script>
  <script src="departments/cse/cse.js"></script>
  <script src="departments/ece/ece.js"></script>
  <script src="departments/eee/eee.js"></script>
  <script src="departments/mca/mca.js"></script>
  <script src="departments/mech/mech.js"></script>
  <script src="departments/mba/mba.js"></script> 
  <script src="departments/ScienceAndHumanities/science.js"></script>
  <script src="campusLife/ArtsCulture/culture.js"></script> 
  <script src="campusLife/sports/sports.js"></script>
  <script src="campusLife/socialService/social.js"></script>
  <script src="contactUs/contact.js"></script>
  <script src="campusLife/Facilities/aakash/aakash.js"></script> 
  <script src="campusLife/Facilities/nptel/nptel.js"></script>
  <script src="campusLife/Facilities/iste/iste.js"></script> 
  <script src="campusLife/qualityImprovement/nodal.js"></script> 
  <script src="campusLife/Facilities/iit/iit.js"></script>
  <script src="campusLife/Facilities/irs/irs.js"></script>
  <script src="campusLife/gallery/gallery.js"></script>
  <script src="detailedGallery/detailedAkash.js"></script> 
  <script src="placement/placement.js"></script>
  <script src="placement/training/training.js"></script>
  <script src="placement/achievers/achievers.js"></script>
  <script src="placement/NewsAndEvents/news.js"></script>
  <script src="placement/contact/contact.js"></script>
  <script src="student/student.js"></script>
  <script src="staff/staff.js"></script>
  <script src="faculty/faculty.js"></script>
  <script src="news/news.js"></script>
  <script src="slider/slider.js"></script>
  <script src="detailedGallery/aakash/aakash.js"></script>
  <script src="detailedGallery/cad/cad.js"></script>
  <script src="detailedGallery/future/future.js"></script>
  <script src="detailedGallery/tamil/tamil.js"></script>
  <script src="departments/civil/viewFaculty/viewFaculty.js"></script>
 <!--  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script> -->

 <!--  <script src="departments/civil/viewFaculty/viewFaculty"></script>  -->
  
  
  

  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="easyticker/easyticker.js"></script>
    <script src="bower_components/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/bootstrap-dropdown-hover/dist/jquery.bootstrap-dropdown-hover.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
    <script src="bower_components/jquery-prettyPhoto/js/jquery.prettyPhoto.js"></script>
    <script src="scrollTop/scrollTop.js"></script>
    <script src="bower_components/jssor-slider/js/jssor.slider.min.js"></script>

   
    <!-- <script src="js/jquery.shadow.js"></script> -->
    <script src="bower_components/jquery-shadow-animation/jquery-animate-shadow.js"></script>

    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easy-ticker/2.0.0/jquery.easy-ticker.min.js"></script> -->


  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="bower_components/components-font-awesome/css/font-awesome.css">
  <link rel="stylesheet" href="bower_components/ionicons/css/ionicons.min.css"> 
  <link rel="stylesheet" href="bower_components/jquery-prettyPhoto/css/prettyPhoto.css"> 
<link rel="stylesheet" href="bower_components/components-font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="bower_components/angular-bootstrap/ui-bootstrap-csp.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/colorbox.css">
<!--   <link rel="stylesheet" href="css/folio-gallery.css"> -->
 <!--  <link rel="stylesheet" href="css/prettyPhoto.css"> -->
  <link rel="stylesheet" href="view1/view1.css">
   <link rel="stylesheet" href="view2/view2.css">
    <link rel="stylesheet" href="placement/placement.css">
    <link rel="stylesheet" href="departments/civil/civil.css">
     <link rel="stylesheet" href="campusLife/gallery/gallery.css">
  <!-- <link rel="stylesheet" href="app.css"> -->
   <!--  <script src="js/scrolltopcontrol.js"></script>
     <script src="js/jquery.prettyPhoto.js"></script> -->
     <!--footer start from here-->
<footer ng-if="come">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6 footerleft ">
        <div class="logofooter"> Campus Corner</div>
        <h7 style="color: white"> Student Login</h7><br>
        <h7 style="color: white"> Staff Login</h7>
        
      </div>
      <div class="col-md-2 col-sm-6 paddingtop-bottom">
        <h6 class="heading7">Quick Links</h6>
        <ul class="footer-ul">
        <li><a href="http://www.annauniv.edu">Anna University,Chennai</a> 
                </li> 
                <li><a href="http://coe1.annauniv.edu.result-html.online">COE,Anna University</a> 
                </li> 
         </ul>
      </div>
      <div class="col-md-3 col-sm-6 paddingtop-bottom">
        <h6 class="heading7">Highlights</h6>
        <div class="post">

        <li><a href="/news/">News & Events</a> 
                </li>
                <li><a href="arts_cult.php">Arts & Culture</a> 
                </li> 
                <li><a href="stu_life.php">Student Life</a> 
                </li> 
                <li><a href="gallery.php">Gallery</a> 
                </li> 
          
        </div>
      </div>
      <div class="col-md-3 col-sm-6 paddingtop-bottom">
       
          <h6 class="heading7">Address</h6>
        <div class="post">
        <address style="color: white"> 
                <strong>Anna University</strong> 
                <br>Dindigul<br/>Tamilnadu-627007 
                <br> 
                <i class="fa fa-phone"></i> Phone:0462-2554255<br/> 
                <i class="fa fa-fax"></i> Fax:0462-2552877 
            </address> 
         
        </div>
      </div>
    </div>
  </div>
   <div class="copyright">
  <div class="container">
    <div class="col-md-14">
      <p>Designed & Developed by Silicon Software Services © 2017 - All Rights with Anna University Dindigul</p>
    </div>
    
  </div>
</div>
</footer>
    <!--Footer end-->
</body>
</html>
