 <style class="ng-scope">
      ul {         
          padding:0 0 0 0;
          margin:0 0 0 0;
      }
     /* ul li {     
          list-style:none;
          margin-bottom:25px;           
      }*/
       ul li img {
          cursor: pointer;
      }
      .modal-body {
          padding:5px !important;
      }
      .modal-content {
          border-radius:0;
      }
      .modal-dialog img {
          text-align:center;
          margin:0 auto;
      }
    .controls{          
        width:50px;
        display:block;
        font-size:11px;
        padding-top:8px;
        font-weight:bold;          
    }
    .next {
        float:right;
        text-align:right;
    }
      /*override modal for demo only*/
      .modal-dialog {
          max-width:500px;
          padding-top: 90px;
      }
      @media screen and (min-width: 768px){
          .modal-dialog {
              width:500px;
              padding-top: 90px;
          }          
      }
      @media screen and (max-width:1500px){
          #ads {
              display:none;
          }
      }
  </style>
    
   <div class="container gallery">
        <div id="fpGallery" class="fpGallery" style="opacity: 1;">
<div class="fp">

<div class="row-fluid title">
        <div class="col-lg-12">
            <h1>Aakash Project Centre –IIT Bombay</h1>
        </div>

    </div>
    <!-- <div class="titlebar">
     <div class="float-left"><span class="title">Energizing Future India</span> - 7 images</div>
     <div class="float-right"><a class="refresh btn btn-primary"><i class="fa fa-angle-double-left"></i> View All Albums</a></div>   </div>
     </div> -->

    <div class="container sidebar-container">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-14">        
        <ul class="row">
            <li class="col-lg-4 col-md-4 col-sm-4 col-xs-8">
                <img class="img-responsive" src="images/place1.jpg">
            </li>
            <li class="col-lg-4 col-md-4 col-sm-4 col-xs-8">
                <img class="img-responsive" src="images/place2.jpg">
            </li>
            <li class="col-lg-4 col-md-4 col-sm-4 col-xs-8">
                <img class="img-responsive" src="images/place3.jpg">
            </li>
            <li class="col-lg-4 col-md-4 col-sm-4 col-xs-8">
                <img class="img-responsive" src="images/place4.jpg">
            </li>
            <li class="col-lg-4 col-md-4 col-sm-4 col-xs-8">
                <img class="img-responsive" src="images/place5.jpg">
            </li>
            <li class="col-lg-4 col-md-4 col-sm-4 col-xs-8">
                <img class="img-responsive" src="images/place6.jpg">
            </li>
            <li class="col-lg-4 col-md-4 col-sm-4 col-xs-8">
                <img class="img-responsive" src="images/place7.jpg">
            </li>
            <li class="col-lg-4 col-md-4 col-sm-4 col-xs-8">
                <img class="img-responsive" src="images/place8.jpg">
            </li>
            <li class="col-lg-4 col-md-4 col-sm-4 col-xs-8">
                <img class="img-responsive" src="images/place9.jpg">
            </li>
            <li class="col-lg-4 col-md-4 col-sm-4 col-xs-8">
                <img class="img-responsive" src="images/place10.jpg">
            </li>
            <li class="col-lg-4 col-md-4 col-sm-4 col-xs-8">
                <img class="img-responsive" src="images/place11.jpg">
            </li>
            <li class="col-lg-4 col-md-4 col-sm-4 col-xs-8">
                <img class="img-responsive" src="images/place12.jpg">
            </li>
            <li class="col-lg-4 col-md-4 col-sm-4 col-xs-8">
                <img class="img-responsive" src="images/place13.jpg">
            </li>
            <li class="col-lg-4 col-md-4 col-sm-4 col-xs-8">
                <img class="img-responsive" src="images/place14.jpg">
            </li>
            <li class="col-lg-4 col-md-4 col-sm-4 col-xs-8">
                <img class="img-responsive" src="images/place15.jpg">
            </li>
            <li class="col-lg-4 col-md-4 col-sm-4 col-xs-8">
                <img class="img-responsive" src="images/place16.jpg">
            </li>
            <li class="col-lg-4 col-md-4 col-sm-4 col-xs-8">
                <img class="img-responsive" src="images/place17.jpg">
            </li>
            <li class="col-lg-4 col-md-4 col-sm-4 col-xs-8">
                <img class="img-responsive" src="images/place18.jpg">
            </li>
            <!-- <li class="col-lg-4 col-md-4 col-sm-4 col-xs-8">
                <img class="img-responsive" src="images/photodune-4619216-ui-control-knob-regulators-xs.jpg">
            </li>
            <li class="col-lg-4 col-md-4 col-sm-4 col-xs-8">
                <img class="img-responsive" src="images/photodune-5771958-health-xs.jpg">
            </li>
            <li class="col-lg-4 col-md-4 col-sm-4 col-xs-8">
                <img class="img-responsive" src="images/photodune-268693-businesswoman-using-laptop-outdoors-xs.jpg">
            </li>
            <li class="col-lg-4 col-md-4 col-sm-4 col-xs-8">
                <img class="img-responsive" src="images/photodune-352207-search-of-code-s.jpg">
            </li>
            <li class="col-lg-4 col-md-4 col-sm-4 col-xs-8">
                <img class="img-responsive" src="images/photodune-247190-secret-email-xs.jpg">
            </li>
            <li class="col-lg-4 col-md-4 col-sm-4 col-xs-8">
                <img class="img-responsive" src="images/photodune-682990-online-search-xs.jpg">
            </li> -->
          </ul>             
    </div> <!-- /container -->
    
     
    <div class="modal fade ng-scope" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
      <div class="modal-dialog">
        <div class="modal-content">         
          <div class="modal-body"></div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    
  
<script type="text/javascript" class="ng-scope">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36251023-1']);
  _gaq.push(['_setDomainName', 'jqueryscript.net']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script></div>
</div>
</div>
</div>
