<div class="container sidebar-container">
        <div class="row">
            <div class="col-lg-4" id="leftCol">
                <ul class="nav-stacked affix-top" id="sidebar">
                    <li style="padding: 10px" class="active"><a href="#section-1">HOD Desk's</a>
                    </li>
                    <li style="padding: 10px"><a href="#section-2">Teaching Staff</a>
                    </li>
                    <li style="padding: 10px"><a href="#section-3">Non-Teaching Staff</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-8">
        <div id="section-1">
                    <div class="row-fluid faculty-title" style="padding-top:10px">
                        <div class="col-md-12 panel panel-default panel_color"> 
                        <div class="panel-body">
                                <h2>HOD Desk's</h2>
                        </div>
                        </div> 
                    </div> 
                    <div class="row card"> 
                        
                                           </div>
            </div>
                        <div id="section-2"> 
                    <div class="row-fluid faculty-title" style="padding-top:10px">
                        <div class="col-md-12 panel panel-default panel_color"> 
                        <div class="panel-body">
                                <h2>Teaching Staff</h2>
                        </div>
                        </div> 
                    </div>
                <!-- <div class="row card"> 
			                        <div class="col-lg-6 col-md-6 col-sm-6"> 
                            <div class="well well-sm">
                                <div class="media">
                                    <a class="thumbnail pull-left"> 
                                        <img class="media-object" src="staff/images/rajeshbanu.jpg">                                    </a>
                                    <div class="media-body"> 
                                        <h4 class="media-heading">Rajesh Banu</h4>
                                        <p class="no-indent">Assistant Professor</p>
                                            <a href="/#!/civil/faculty/details" class="btn btn-info">View Profile</a>
                                    </div>
                                  
                                </div>
                            </div>
                        </div>
			                      </div>   -->  
                <hr>
            </div>
            <div id="section-3">
                                    <div class="row-fluid faculty-title" style="padding-top:10px"> 
                        <div class="col-md-12 panel panel-default panel_color"> 
                        <div class="panel-body"> 
                                <h2>Non-Teaching Staff</h2>
                        </div>
                        </div> 
                    </div>
                    <div class="row card">  
                        <div class="col-lg-6 col-md-6 col-sm-6"> 
                            <div class="well well-sm">
                                <div class="media">
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>