<div class="container contact">
        <div class="row contact-row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>Our Coordinates</h3>
                    </div>
                    <div class="panel-body contact-body">
                        <div class="row-fluid fluid-wrapper">
                            <div style="width: 100%"><iframe width="100%" height="600" src="https://www.mapsdirections.info/en/custom-google-maps/map.php?width=100%&height=600&hl=ru&q=Anna%20University%20Campus%2CDindigul+(Anna%20University)&ie=UTF8&t=&z=14&iwloc=A&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a href="https://www.mapsdirections.info/en/custom-google-maps/">Create Google Map</a> by <a href="https://www.mapsdirections.info/en/">Measure area on map</a></iframe></div><br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row contact-row">
            <div class="col-lg-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>
                            Feel free to contact us
                        </h3>
                    </div>
                    <div class="panel-body contact-body">
                        <form role="form" id="feedbackForm">
                            <div class="form-group">
                                <input class="form-control" id="name" name="name" placeholder="Name" type="text">
                                <span class="help-block" style="display: none;">Please enter your name.</span>
                            </div>
                            <div class="form-group">
                                <input class="form-control" id="email" name="email" placeholder="Email Address" type="email">
                                <span class="help-block" style="display: none;">Please enter a valid e-mail address.</span>
                            </div>
                            <div class="form-group">
                                <textarea rows="10" cols="100" class="form-control" id="message" name="message" placeholder="Message"></textarea>
                                <span class="help-block" style="display: none;">Please enter a message.</span>
                            </div>
                            <button type="submit" id="feedbackSubmit" class="btn btn-primary btn-lg" style="display: block; margin-top: 10px;">Send Feedback</button>
                        </form>
                        <!-- END CONTACT FORM -->
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>
                            Our Office
                        </h3>
                    </div>
                    <div class="panel-body address">
                        <address>
                            <strong>Anna University</strong>
                            <br>Dindigul<br>Tamilnadu 627007
                            <br>
                            <i class="fa fa-phone"></i> Phone:0462-2551298<br>
                            <i class="fa fa-fax"></i> Fax:0462-2552877
                        </address>
                    </div>
                </div>
            </div>
        </div>
    </div>