<nav style="background-color: #303030" id="sidebar1">
            <div class="logo-container">
                    <img src="../images/logo-white.png" style="margin: 20%;width: 120px;height: 110px;" class="img img-middle logo">
                </div>
                <ul class="list-unstyled components">
                   <li>
                   <a href="/#!/placement">Home</a>
                   </li>
                     <li>
                        <a href="/#!/placeTraining">Training</a>
                    </li>
                    <li>
                        <a href="/#!/slider">Gallery</a>
                    </li>
                    <li>
                        <a href="/#!/placeAchievers">Achievers</a>
                    </li>
                    <li>
                        <a href="/#!/placeNews">News and Events</a>
                    </li>
                     <li class="active" style="background-image: url(../images/arrow.png); background-repeat: no-repeat;
    background-position: right;">
                        <a href="/#!/placement/contact">Contact</a>
                    </li>
                </ul>
            </nav>  
<div class="main" style="margin-left: 20%;">
                <h1 class="page-header">Contact</h1>
                <div class="row home-content" style="margin-left: 20px">
					
					<ul class="list-unstyled components">
                   <li>
                   <h3 style="font-style:italic">Placement Coordinators</h3>
					<!-- <strong>Mr K Saravanan,</strong> <br>
					
					Assistant Professor,<br>
					Department of Computer Science and Engineering,<br>
					Regional Office of Anna University,<br>
					Tirunelveli Region.<br>
					Tirunelveli - 627007<br>
					<span></i> 9791005395</span>
					<br>
					<br> -->
					<!-- <strong>Mr K Gokulakrishnan,</strong><br>
					Assistant Professor,<br>
					Department of Electronics and Communication Engineering,<br>
					Regional Office of Anna University,<br>
					Tirunelveli Region.<br>
					Tirunelveli - 627007<br>
					<span>9962479777</span>
					<br>
					<br>
					<h3 style="font-style:italic">Administration</h3>
					<strong>Regional Office of Anna University,</strong><br>
					Tirunelveli Region.<br>
					Tirunelveli - 627007<br>
					<span><i class="fa fa-phone"></i>  0462 - 2554255</span>&nbsp;
					<span><i class="fa fa-print"></i>  0462 - 2552877</span>
					<p></p>  -->
                   </li>
                </ul>
                </div>
            </div>