<div class="row-fluid title">
        <div class="col-lg-12">
            <h1>Department of Computer Applications</h1>
        </div>
    </div>
    <div class="container sidebar-container">
        <div class="row">
            <div class="col-lg-4" id="leftCol">
                <ul class="nav-stacked affix-top" id="sidebar">
                    <li style="padding: 10px" class="active"><a href="#section-1">HOD's Message</a>
                    </li>
                    <li style="padding: 10px"><a href="#section-2">Faculty</a>
                    </li>
                    <li style="padding: 10px"><a href="#section-3">Courses</a>
                    </li>
                    <li style="padding: 10px"><a href="#section-4">Facilties</a>
                    </li>
                    <li style="padding: 10px"><a href="#section-5">Association</a>
                    </li>
                    <li style="padding: 10px"><a href="#section-6">Department Events</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-8">
                <div id="section-1">
                    <h2>HOD's Message</h2>
                    <p>I am delighted to introduce about Department of Computer Applications in this forum. It started offering MCA programme from the year of 2008. Since then, several batches of students have passed out and are serving splendidly in major software companies and government organizations. The department makes every effort for imparting knowledge, escalate innovative thinking and ability to analyze and apply computer applications in required domain. We, the faculty of the department have the mission to produce quality graduates possessing required skills and proficiency to shine. 
                    </p>
                    <p>Our laboratories are being modernized to cater the need of students and also learn beyond the curriculum that certainly makes them to enrich their skills. A continuous effort on building and improving infrastructure is a part of us. Our department committed to support the students to carry out their six month internship at well reputed industries. I believe that this approach of learning and practical knowledge gained during industrial training make the students to handle the challenges in IT industries.</p>
                    <p>At end, I promise that the department will leave no stone unturned in providing best to the students. I wish a very all the best to all.</p>
                    <hr>
                </div>
                <div id="section-2">
                    <h2>Faculty</h2>
                    <p>The self motivated and hardworking faculty members of the department ensure that the student learn strong values and develop fully integrated personality to face the future with courage and confidence. The students are encouraged to improve their knowledge in major areas of research such as Grid Computing, Cloud Computing, Data Structures and Algorithms, Image Processing, Data Mining, Neural Networks and Fuzzy Logic.The department focuses on quality learning environment for students through dedicated and experienced faculty members. 
                    </p><p class="no-indent">
                        <a class="btn btn-info fac_btn">
                            <strong>View Faculty Details</strong> <i class="fa fa-angle-double-right"></i>
                        </a>
                    </p>
                    <hr>
                </div>
                <div id="section-3">
                    <h2>Courses</h2>
                    <p>The Department of Computer Application offers Master of Computer Application(MCA) as a Two Years Programme for a BCA and B.sc(CSE) students and Three Years Programme for UG completed Students.</p>
                    <hr>
                </div>
                <div id="section-4">
                    <h2>Facilities</h2>
                    <p>A well equipped and full – fledged laboratory with 60 systems is available for the students to learn the paradigm of programming with applicable knowledge.
                    MCA Laboratory was inaugurated and the faculty members provide full fledged support to the students to improve their programming capability. The students utilise the laboratory sessions in a disciplined manner and are trained well during the entire course.</p>
                    <hr>
                </div>
                <div id="section-5">
                    <h1>Association</h1>
                    <p>The department has inaugurated the students‘ association, Zealous Technocrats Association. During this inauguration inter departmental competition was conducted. Students from various departments participated and exhibited their talents.
                    </p>       <hr>     </div>
                <div id="section-6">
                    <h1>Department Events</h1>
                    <p>A One day Seminar on “Research Expansion in Digital Image Processing” was organised on 28th February 2014. The resource persons for the seminar were Dr.P.Arockia Jansi Rani, AP/CSE, Manonmaniam Sundaranar University, Tirunelveli and Dr.Dejey, AP &amp; Head/CSE, Regional Office of Anna University, Tirunelveli. Faculty members, research scholars and post graduate students from affiliated colleges and our Regional Office participated.</p>
                    <p>On 08.03.2014, The International Women’s Day, was celebrated. Dr.Agnes, Gynaecologist, was the Chief Guest and she delivered a talk on Women in India. In view of this, the students organised various competitions from 03.03.2014 to 07.03.2014. Many students participated enthusiastically and showcased their exemplary talents. </p>
                    <hr>
                </div>
            </div>
        </div>
    </div>