<div class="row-fluid title">
        <div class="col-lg-12">
            <h1>Department Of Physical Education</h1>
        </div>
    </div>
    <div class="container sidebar-container">
        <div class="row">
        <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <div id="section-1">
                    <p>The Department of Physical Education encourages the students to maintain the body in right shape,as much as their mind. 
                     It offers oppurtunities for the students to participate in various competitions to enhance their sports qualities.
                     </p>
                    <hr>
                </div>
                <div id="section-2">
                    <h2>Achievements</h2>
                    <ul>
                        <li>Our Campus organized Anna University Zone 18 Inter Collegiate Cricket (Men) Tournament during the years 2012 &amp; 13 and Table Tennis Tournament (M&amp;W) in the year 2013.</li>
                        <li>Our Campus Cricket Team won the champion Trophy of Einstein State level Inter Collegiate Tournament 2013-14.</li>
                        <li>Our Campus Basketball (M), Badminton (M) and Tennis (M) teams secured Runners position in Anna University Zone 18 Inter Collegiate Tournaments 2013-14.</li>
                        <li>Our student E.Abiram Kishan II,B.E (Geo) secured Silver Medal in High Jump event in Anna University zone 18 Inter Collegiate Sports Meet 2013-14.</li>
                        <li>Our Tennis (M) Team secured Third position in Anna University Inter Collegiate Tournament 2012-13.</li>
                        <li>Our chess and Badminton (W) Teams secured Fourth position in Anna University Zone 18 Inter Collegiate Tournaments 2013-14.</li>
                        <li>Our Campus women Table Tennis and Badminton Teams were Runners in Tirunelveli District CM Trophy Tournaments 2013-14.</li>
                        <li>Our students were selected as members for Zone 18 Combined Teams and participated in the Anna University Inter zonal Tournaments in various games.</li>
                        <li>Our college Men and Women Teams participated in more than sixteen games in Anna University zone 18 Tournaments and other open Tournaments.</li>
                    </ul>
                    <hr>
                </div>
                <div id="section-3">
                <h2>Programmes</h2>
                    <h2>Intramural</h2>
                    <ul>
                    <li>Encourages all the students to take part in various events providing all necessary playing equipments.</li>
                    <li>Conducting Intramural competitions and College Annual Sports Meet (Speed 2k’13) are the regular features of the department.</li>
                    <li>Special attention is given to eminent sports persons.</li>
                    <li>In order to encourage increased students’ participation, college team captains conduct internal tournaments among our own students in the name of Anna University Trophy.</li>
                    <li>Organized Republic Day staff cricket Tournament 2012-13.</li>
                    <li>Staff tournaments are conducted regularly - outdoor games, indoor games and athletics in Annual Sports day.</li>
                    </ul>
                    <hr>
                </div>
                <div id="section-4">
                    <h2>Vision and Aspiration</h2>
                    <ul>
                    <li>To shape the students both physically and mentally fit, through physical education</li>
                    <li>To identify and encourage talented sportspersons with real sporting spirit to taste the nectar of success in National and International events.</li>
                    </ul>
                    <hr>
                </div>
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>