    <div class="row-fluid title">
        <div class="col-lg-12">
            <h1>Department of Mechanical Engineering</h1>
        </div>
    </div>
    <div class="container sidebar-container">
        <div class="row">
            <div class="col-lg-4" id="leftCol">
                <ul class="nav-stacked affix-top" id="sidebar">
                    <li style="padding: 10px" class="active"><a href="#section-1">HOD's Desk</a>
                    </li>
                    <li style="padding: 10px"><a href="#section-2">Faculty</a>
                    </li>
                    <li style="padding: 10px"><a href="#section-3">Courses</a>
                    </li>
                    <li style="padding: 10px"><a href="#section-4">Facility</a>
                    </li>
                    <li style="padding: 10px"><a href="#section-5">Department Events</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-8">
                <div id="section-1">
                    <h2>HOD's Desk</h2>
                    <p>Department of Mechanical Engineering was started in the year 2008 with four PG specializations namely Energy Engineering, Thermal Engineering. Aeronautical Engineering and Computer Aided Design (CAD). The intake of students in each specialization is 24. The CAD laboratories with CATIA and ANSYS software facilities are available.
                    </p>
                    <hr>
                </div>
                <div id="section-2">
                    <h2>Faculty</h2>
                    <p>The faculty members have more than 10 years of rich teaching, research and industrial experiences. The faculty members have specialization in Energy Engineering, Thermal Engineering, Refrigeration and Air Conditioning, Aeronautical Engineering, CAD and Manufacturing Technology. At present 8 regular faculty members, 3 Teaching Fellows and 4 administrative non teaching members are working in the department. The department has 4 doctorate faculty members and other 4 faculty members are pursuing their Ph.D. One full time Ph.D. scholar is doing research work in the area of solar photovoltaic system and four part time Ph.D scholars are doing their research under the faculty of Mechanical Engineering.
                    </p>
                    <p class="no-indent">
                        <a class="btn btn-info fac_btn" href="">
                            <strong>View Faculty Details</strong> <i class="fa fa-angle-double-right"></i>
                        </a>
                    </p>
                    <hr>
                </div>
                <div id="section-3">
                    <h2>Courses</h2>
                    <p>The Department of Mechanical Engineering offers various PG courses like M.E. Aeronautical Engineering, M.E. Computer Aided Design (Full Time &amp; Part Time), M.E. Energy Engineering and M.E. Thermal Engineering (Full Time &amp; Part Time).</p>
                  <p> The department is equipped with state at the art Aerodynamics, Aircraft Structures, IC Engines, Energy and CFD simulation Laboratories to meet the research requirements of PG students. 
    The faculty members working in the department have more than 10 years of teaching and research experience with Doctoral Level qualifications. Also more than 30 Ph.D. Scholars (Full Time &amp; Part Time) are working in the core areas of the engineering and  four Ph.D. Scholars have been successfully completed. The alumni are working in the MNC companies like FORD, RENAULT, NISSAN, QUEST AERO SPACE, QATAR AIRWAYS, DEFENCE Universities, ASHOK LEYLAND, CIPET, etc. In addition, many meritorious Alumni are continuing their research at IIT’s and Foreign Universities with grants.</p> 
    <hr>
                </div>
                <div id="section-4">
                    <h2>Facilities</h2>
                    <p>The Department provides the well equipped CAD lab facilities with licensed softwares in order to improve their practical knowledge in their core areas of Engineering.
     Consultancy activities in progress at the Aeronautical Engineering and Thermal Engg include,</p>
    <p> </p><ul><li>SUBSONIC WINDTUNNEL (upto 78 m/sec)</li>
        <li> PHOTO-ELASTIC BENCH APPARATUS</li>
        <li> VIBRATION BEAM SETUP-COMPUTERIZED</li>
        <li>CAD LABORATORY WITH ANSYS FLUENT AND CREO</li>
        <li>COMPUTERIZED UNIVERSAL TESTING MACHINE</li>
<li>IC Engine test RIG</li></ul>
                    <hr>
                </div>
                <div id="section-5">
                    <h1>Department Events</h1>
                    <p>The Department organized one national conference in the academic year 2011- 2012, organized two weeks ISTE Sponsored workshop on Thermodynamics conducted by IIT, Bombay and also organized nine days training programme in FEA analysis using ANSYS during the academic year 2012 – 2013. 12 papers were published in reputed international journals.</p>
                    <hr>
                </div>
            </div>
        </div>
    </div>
