
	<div class="wrapper container">
		<div class="row">
			<div class="col-md-8">
				<h1>News &amp; Events</h1><hr>
				<div id="main">
									</div>
			</div>
			<div class="col-md-4">
				<div id="news-sidebar">
					<div class="panel panel-default">
	<div class="panel-heading">
		<h4>Recent Posts</h4>
	</div>
	<ul class="list-group">
		</ul>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<h4>Categories</h4>
	</div>
	<ul class="list-group">
	<li class="list-group-item"><a href="catpost.php?id=conference">Conference</a></li><li class="list-group-item"><a href="catpost.php?id=mech">MECH</a></li><li class="list-group-item"><a href="catpost.php?id=mba">MBA</a></li><li class="list-group-item"><a href="catpost.php?id=workshop">Workshop</a></li><li class="list-group-item"><a href="catpost.php?id=cse">CSE</a></li><li class="list-group-item"><a href="catpost.php?id=sports">Sports</a></li><li class="list-group-item"><a href="catpost.php?id=mca">MCA</a></li><li class="list-group-item"><a href="catpost.php?id=misc">Misc</a></li><li class="list-group-item"><a href="catpost.php?id=eee">EEE</a></li><li class="list-group-item"><a href="catpost.php?id=seminar">Seminar</a></li><li class="list-group-item"><a href="catpost.php?id=general">General</a></li>	</ul>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<h4>Archives</h4>
	</div>
	<ul class="list-group">
		</ul>
</div>				</div>
			</div>
		</div>

		<div id="clear"></div>

	</div>
