<div class="row-fluid title">
        <div class="col-lg-12">
            <h1>Department of Computer Science &amp; Engineering</h1>
        </div>
    </div>
    <div class="container sidebar-container">
        <div class="row">
            <div class="col-lg-4" id="leftCol">
                <ul class="nav-stacked affix-top" id="sidebar">
                    <li style="padding: 10px" class="active"><a href="#section-1">HOD's Desk</a>
                    </li>
                    <li style="padding: 10px"><a href="#section-2">Faculty</a>
                    </li>
                    <li style="padding: 10px"><a href="#section-3">Courses</a>
                    </li>
                    <li style="padding: 10px"><a href="#section-4">Facility</a>
                    </li>
                    <li style="padding: 10px"><a href="#section-5">Association</a>
                    </li>
                    <li style="padding: 10px"><a href="#section-6">Department Events</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-8">
                <div id="section-1">
                    <h2>HOD's Desk</h2>
                    <p>The Department was started in 2008 and it tries to tap and shape the potential of our students in the right channel. At present, it caters to the education of 420 students.  The Department aims at providing high quality education to students and professional employment opportunities in the field of Information and Communication Technology.</p>
                    <hr>
                </div>
                <div id="section-2">
                    <h2>Faculty</h2>
                    <p>The Department has a team of highly experienced and motivated faculty members. In addition to their regular teaching of undergraduate and postgraduate courses, the faculty members engage actively in research work in various areas like Image Processing, Cloud Computing, Wireless Sensor and Adhoc Networks, Mobile Computing, Data Mining and publish papers in national and international conferences and indexed journals. The students also undertake quality project works and publish papers at various prestigious conferences/student paper presentation contests under the guidance of faculty members. With elective courses, the students are encouraged to develop expertise in areas of personal interest as well as to develop knowledge of subjects outside of engineering.</p>
                    <p class="no-indent"><a class="btn btn-info fac_btn"><strong>View Faculty Details</strong> <i class="fa fa-angle-double-right"></i></a></p>
                    <hr>
                </div>
                <div id="section-3">
                    <h2>Courses</h2>
                    <p>The Department offers B.E Computer Science and Engineering, B.Tech Information Technology,  M.E Computer Science and Engineering and Ph.D. programmes.</p>
                    <hr>
                </div>
                <div id="section-4">
                    <h2>Facilities</h2>
                    <p>The training of the mind, heart and the will of our young students have been accepted as its educational endeavour. The Department is equipped with two labs to cater to the needs of the students. Ample opportunities are provided to equip the students be it a class room, lecture or group discussion, a project work or a field trip, a curricular assignment or co-curricular activity.</p>
                    <hr>
                </div>
                <div id="section-5">
                    <h1>Association</h1>
                    <p>The students’ technical association ‘Tech Society’ is being functional since academic year 2013-14.The association handles the conduction of various intra departmental events,as well as technical symposium. The association has been consistently encouraging the learning and growing process nurturing young minds, keeping in mind the objectives of the institution with the initiatives taken by the coordinators of the ‘Tech society’.</p>
                    <hr>
                </div>
                <div id="section-6">
                    <h1>Department Events</h1>
                    <p> The Department regularly organizes a series of Workshops, Seminars, Conferences, Faculty development Programmes by academicians and professionals of the highest repute, which lay stress on the latest innovative technologies in the field of Computer Science and Information Technology.</p>
					<p>In the entire learning and growing process, our aim and objectives have been consistently kept in mind. The faculty members guide the students to acquire correct values and develop wholesome attitudes in order to achieve a harmonious blending of human values with knowledge. The department has good track record for placement of its graduates too.
					</p>
                    <hr>
                </div>
                <!--div id="section-7" class="gallery">
                	<h1>Gallery</h1>
                    <div class="col-md-4 col-xs-6 thumb">
                        <a class="thumbnail" rel="lightbox[group]" href="img/cse/1.jpg">
                            <img class="img-responsive group1" src="img/cse/1.jpg">
                        </a>
                    </div>
                    <div class="col-md-4 col-xs-6 thumb">
                        <a class="thumbnail" rel="lightbox[group]" href="img/cse/2.jpg">
                            <img class="img-responsive" src="img/cse/2.jpg">
                        </a>
                    </div>
                    <div class="col-md-4 col-xs-6 thumb">
                        <a class="thumbnail" rel="lightbox[group]" href="img/cse/3.jpg">
                            <img class="img-responsive" src="img/cse/3.jpg">
                        </a>
                    </div>
                    <div class="col-md-4 col-xs-6 thumb">
                        <a class="thumbnail" rel="lightbox[group]" href="img/cse/4.jpg">
                            <img class="img-responsive" src="img/cse/4.jpg">
                        </a>
                    </div>
                    <div class="col-md-4 col-xs-6 thumb">
                        <a class="thumbnail" rel="lightbox[group]" href="img/cse/5.jpg">
                            <img class="img-responsive" src="img/cse/5.jpg">
                        </a>
                    </div>
                    <div class="col-md-4 col-xs-6 thumb">
                        <a class="thumbnail" rel="lightbox[group]" href="img/cse/6.jpg">
                            <img class="img-responsive" src="img/cse/6.jpg">
                        </a>
                    </div>
                    <div class="col-md-4 col-xs-6 thumb">
                        <a class="thumbnail" rel="lightbox[group]" href="img/cse/7.jpg">
                            <img class="img-responsive" src="img/cse/7.jpg">
                        </a>
                    </div>
                    <div class="col-md-4 col-xs-6 thumb">
                        <a class="thumbnail" rel="lightbox[group]" href="img/cse/8.jpg">
                            <img class="img-responsive" src="img/cse/8.jpg">
                        </a>
                    </div>
                    <div class="col-md-4 col-xs-6 thumb">
                        <a class="thumbnail" rel="lightbox[group]" href="img/cse/9.jpg">
                            <img class="img-responsive" src="img/cse/9.jpg">
                        </a>
                    </div>
                </div-->
            </div>
        </div>
    </div>
    