<div class="container gallery">
        <div id="fpGallery" class="fpGallery" style="opacity: 1;">
<div class="fp">

<div style="background-color: rgba(128, 128, 128, 0.22);margin: 70px;padding: 50px" class="container gallery">
      <div id="fpGallery" class="fpGallery" style="opacity: 1;"><!--
  fpGallery v1.1 - 2013-08-30
  (c) 2013 Harry Ghazanian - foliopages.com/php-jquery-ajax-photo-gallery-no-database
  This content is released under the http://www.opensource.org/licenses/mit-license.php MIT License.
-->

<div class="fp">


   <div class="titlebar">
     <div><span class="title">Energising Future India</span> - 7  images</div>
     <div class="float-right"><a href="/#!/Campusgallery" style="color: #fff;
    background-color: #3276b1;
    border-color: #285e8e;" class="refresh btn btn-primary"><i class="fa fa-angle-double-left"></i> View All Albums</a></div>   </div>  
   
   <div class="clear"></div>
  
           
       
             <div class="thumb shadow">
             <div class="thumb-wrapper">
          <!--  <a href="images/gallery/futureIndia/IMG_6506 (FILEminimizer).jpg" title="Akash Remote Centre " class="albumpix cboxElement"> -->
          <a href="images/gallery/futureIndia/IMG_6506 (FILEminimizer).jpg" title="Akash Remote Centre " class="albumpix cboxElement">
            <img src="images/gallery/futureIndia/IMG_6506 (FILEminimizer).jpg" style="border: solid;border-color: black;margin-bottom: 30px"  width="266" alt="CAD LABORATORY .JPG">
            
            <a href="images/gallery/futureIndia/IMG_6532 (FILEminimizer).jpg" title="Akash Remote Centre " class="albumpix cboxElement">
             <img src="images/gallery/futureIndia/IMG_6532 (FILEminimizer).jpg" style="border: solid;border-color: black;margin-bottom: 30px"  width="266" alt="CAD LABORATORY .JPG">
             
              <a href="images/gallery/futureIndia/IMG_6549 (FILEminimizer).jpg" title="Akash Remote Centre " class="albumpix cboxElement">
              <img src="images/gallery/futureIndia/IMG_6549 (FILEminimizer).jpg" style="border: solid;border-color: black;margin-bottom: 30px"  width="266" alt="CAD LABORATORY .JPG">
             
                <a href="images/gallery/futureIndia/IMG_6596 (FILEminimizer).jpg" title="Akash Remote Centre " class="albumpix cboxElement">
               <img src="images/gallery/futureIndia/IMG_6596 (FILEminimizer).jpg" style="border: solid;border-color: black;margin-bottom: 30px"  width="266" alt="CAD LABORATORY .JPG">
              
               <a href="images/gallery/futureIndia/IMG_6603 (FILEminimizer).jpg" title="Akash Remote Centre " class="albumpix cboxElement">
                <img src="images/gallery/futureIndia/IMG_6603 (FILEminimizer).jpg" style="border: solid;border-color: black;margin-bottom: 30px"  width="266" alt="CAD LABORATORY .JPG">
               
               <a href="images/gallery/futureIndia/IMG_6692 (FILEminimizer).jpg" title="Akash Remote Centre " class="albumpix cboxElement">
                 <img src="images/gallery/futureIndia/IMG_6692 (FILEminimizer).jpg" style="border: solid;border-color: black;margin-bottom: 30px"  width="266" alt="CAD LABORATORY .JPG">
                 <li id="menu-item-205" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children menu-item-205"><a href="#" class="sf-with-ul">Pages</a>
<ul class="sub-menu sf-js-enabled sf-arrows" style="display: none;">
  <li id="menu-item-468" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-462 current_page_item menu-item-468"><a href="http://myuniversity.skat.tf/visual-composer/">Visual Composer</a></li>
  <li id="menu-item-168" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-168"><a href="http://myuniversity.skat.tf/blog/">Blog</a></li>
  <li id="menu-item-164" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-164"><a href="http://myuniversity.skat.tf/about-us/">About Us</a></li>
  <li id="menu-item-165" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-165"><a href="http://myuniversity.skat.tf/courses/">Courses</a></li>
  <li id="menu-item-166" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-166"><a href="http://myuniversity.skat.tf/professors/">Professors</a></li>
  <li id="menu-item-167" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-167"><a href="http://myuniversity.skat.tf/events/">Events</a></li>
  <li id="menu-item-430" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-430"><a href="http://myuniversity.skat.tf/frequently-asked-questions/">Faq</a></li>
</ul>
</li>
                  <a href="images/gallery/futureIndia/IMG_6694 (FILEminimizer).jpg" title="Akash Remote Centre " class="albumpix cboxElement">
                  <img src="images/gallery/futureIndia/IMG_6694 (FILEminimizer).jpg" style="border: solid;border-color: black;margin-bottom: 30px"  width="266" alt="CAD LABORATORY .JPG">
                 
           </a>
         </div>  
      </div>

        
         
     

     <div class="clear"></div>
  
     <div align="center" class="paginate-wrapper">
             </div>
   
   </div></div>
    </div>
    </div>
    </div>
    </div>
  