<div class="row-fluid title">
        <div class="col-lg-12">
            <h1>About the Centre
</h1>
        </div>
    </div>
    <div class="container sidebar-container">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <div id="section-1">
<h2>About the Centre and its activities</h2>
                    <p> Coming soon</p>
                    <hr>
                </div>
                <div id="section-2">
                    <h2>Administration of the Centre</h2>
                    <p> Coming soon </p>
                   <hr>
                </div>
                <div id="section-3">
                <h2>Objectives of the Centre</h2>
                    <p> Coming soon </p>
                    <hr>
              
                </div>
                 <div id="section-4">
                <div class="col-lg-6">
                    <h2>Affliation Section Staff</h2>
                    <ul>
                     <li>Coming soon</li>
                    <!--<li>Mrs.D.Judit Kinsee Sheera,Junior Techinical Assistant</li>
                    <li>Mrs.Alagu Meena,Junior Assistant</li>
                    <li>Mr.Esaithanvan,Office Assistant</li> -->
                    </ul>
                    <hr>
                </div>
                </div>
                 <div class="col-lg-6">
                 </div>
                 
            
                        </div>
            <div class="col-lg-1"></div>
        </div>
    </div>