<div class="container sidebar-container">
        <div class="row title faculty-title" style="text-align:center">
            <div class="col-lg-1"></div>
            <div class="col-lg-10 panel panel-default panel_color">
                <div class="panel-body">
                <h1 style="margin-top:10px">Postgraduate Courses</h1>
                </div>
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>
    <div class="container sidebar-container">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <div id="section-2">
                    <h2>Department of Civil Engineering</h2>
                    <ul>
                        <li>M.Tech. Remote Sensing</li>
                        <li>M.E. Structural Engineering</li>
                        <li>M.E. Structural Engineering(Part Time)</li>
                    </ul>
                    <hr>
                </div>
                <div id="section-3">
                    <h2>Centre for Environmental Studies</h2>
                    <ul>
                        <li>M.E. Environmental Engineering</li>
                    </ul>
                    <hr>
                </div>
                <div id="section-4">
                    <h2>Department of Mechanical Engineering</h2>
                    <ul>
                        <li>M.E. Aeronautical Engineering</li>
                        <li>M.E. Computer Aided Design</li>
                        <li>M.E. Computer Aided Design(Part Time)</li>
                        <li>M.E. Energy Engineering</li>
                        <li>M.E. Thermal Engineering</li>
			<li>M.E. Thermal Engineering(Part Time)</li>
                    </ul>
                    <hr>
                </div>
                <div id="section-5">
                    <h2>Department of Electrical Engineering</h2>
                    <ul>
                        <li>M.E. Embedded System Technologies</li>
                    </ul>
                    <hr>
                </div>
                <div id="section-5">
                    <h2>Department of Computer Science and Engineering</h2>
                    <ul>
                        <li>M.E. Computer Science and Engineering</li>
                        <li>M.E. Computer Science and Engineering(Part time)</li>
                    </ul>
                    <hr>
                </div>
                <div id="section-6">
                    <h2>Department of Electronics and Communication Engineering</h2>
                    <ul>
                        <li>M.E. Applied Electronics</li>
                        <li>M.E. Applied Electronics(Part Time)</li>
                    </ul>
                    <hr>
                </div>
                <div id="section-7">
                    <h2>Department of Computer Application</h2>
                    <ul>
                        <li>Master of Computer Applications (MCA)</li>
                    </ul>
                    <hr>
                </div>
                <div id="section-8">
                    <h2>Department of Management Studies</h2>
                    <ul>
                        <li>Master of Business Administration</li>
                    </ul>
                    <hr>
                </div>
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>