<div class="container sidebar-container">
        <div class="row title faculty-title" style="text-align:center">
            <div class="col-lg-1"></div>
            <div class="col-lg-10 panel panel-default panel_color">
                <div class="panel-body">
                    <h1 style="margin-top:10px">University Administration</h1>
                </div>
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>
    <div class="container sidebar-container">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <div id="section-1">
                    <div class="col-lg-12">
                        <table class="table table-bordered table-striped prof-table">
                            <thead style="background-color:#E0E0E0;">
                                <tr>
                                    <th style="width:40%">Name</th>
                                    <th>Designation</th>
                                </tr>
                            </thead>
                            <tbody style="text-align:left">
                                <tr>
                                   <!--  <td>Dr.S.Ganesan</td>
                                    <td>Registrar </td> -->
                                </tr>
                                <tr>
                                    <!-- <td>Dr.M.Velan</td>
                                    <td>Director - University Colleges</td> -->
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>
    <div class="container sidebar-container">
        <div class="row title faculty-title" style="text-align:center">
            <div class="col-lg-1"></div>
            <div class="col-lg-10 panel panel-default panel_color">
                <div class="panel-body">
                    <h1 style="margin-top:10px">Regional Office</h1>
                </div>
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>
    <div class="container sidebar-container">
        <div class="row univ_title" style="text-align:center">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <h3 style="margin-top:-10px;margin-bottom:-20px">Mentor</h3>
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>
     <div class="container sidebar-container">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <div id="section-1">
                    <div class="col-lg-12">
                        <table class="table table-bordered table-striped prof-table">
                            <thead style="background-color:#E0E0E0;">
                                <tr>
                                    <th style="width:40%">Name</th>
                                    <th>Designation</th>
                                </tr>
                            </thead>
                            <tbody style="text-align:left">
                                <tr>
                    <!--                 <td>Dr.N.Kumaravel</td>
                                    <td>Professor Emeritus - Centre for Medical Electronics, Anna University, Chennai</td> -->
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>
    <div class="container sidebar-container">
        <div class="row univ_title" style="text-align:center">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <h3 style="margin-top:-10px;margin-bottom:-20px">Dean</h3>
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>
     <div class="container sidebar-container">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <div id="section-1">
                    <div class="col-lg-12">
                        <table class="table table-bordered table-striped prof-table">
                            <thead style="background-color:#E0E0E0;">
                                <tr>
                                    <th style="width:40%">Name</th>
                                    <th>Designation</th>
                                </tr>
                            </thead>
                            <tbody style="text-align:left">
                                <tr>
          <!--                           <td>Dr.G.Sakthinathan</td>
                                    <td>Dean i/c - Regional Office Tirunelveli</td> -->
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>
    <div class="container sidebar-container">
        <div class="row univ_title" style="text-align:center">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <h3 style="margin-top:-10px;margin-bottom:-20px">Department Heads</h3>
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>
    <div class="container sidebar-container">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <div id="section-1">
                    <div class="col-lg-12">
                        <table class="table table-bordered table-striped prof-table">
                            <thead style="background-color:#E0E0E0;">
                                <tr>
                                    <th style="width:40%">Name</th>
                                    <th>Department</th>
                                </tr>
                            </thead>
                            <tbody style="text-align:left">
                                <tr>
 <!--                                    <td>Dr.G.Sakthinathan</td>
                                    <td>Civil Engineering</td> -->
                                </tr>
                                <tr>
<!--                                     <td>Mrs. T. Kavitha</td>
                                    <td>Computer Science &amp; Engineering</td> -->
                                </tr>
                                <tr>
 <!--                                    <td>Dr. K .Usha Kingsly Devi</td>
                                    <td>Electronics &amp; Communication Engineering</td> -->
                                </tr>
                                <tr>
<!--                                     <td>Dr. S. Rajakumar</td>
                                    <td>Mechanical Engineering</td> -->
                                </tr>
                                <tr>
<!--                                     <td>Mrs. Vinolia Anandan</td>
                                    <td>Computer Applications</td> -->
                                </tr>
                                <tr>
<!--                                     <td>Dr.S.Silas Sargunam</td>
                                    <td>Management Studies</td> -->
                                </tr>
                                <tr><!-- 
                                    <td>Dr.I. Rani</td>
                                    <td>Science and Humanities</td> -->
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>

   