    <div class="row-fluid title">
        <div class="col-lg-12">
            <h1>Science and Humanities</h1>
        </div>
    </div>
    <div class="container sidebar-container">
        <div class="row">
            <div class="col-lg-4" id="leftCol">
                <ul class="nav-stacked affix-top" id="sidebar">
                    <li style="padding: 10px" class="active"><a href="#section-1">English</a>
                    </li>
                    <li style="padding: 10px"><a href="#section-2">Chemistry</a>
                    </li>
                    <li style="padding: 10px"><a href="#section-3">Physics</a>
                    </li>
                    <li style="padding: 10px"><a href="#section-4">Mathematics</a>
                    </li>
	   <li><a href="#section-5">Physical Education</a>
                    </li>
                 </ul>
            </div>
            <div class="col-lg-8">
		<div id="section-1">
                    <p> Science and Humanities includes various departments and their functioning for the welfare of the institution and the students. The faculty details of various departments are listed below.</p>
                    <p class="no-indent"><a class="btn btn-info fac_btn" href=""><strong>View Faculty Details</strong> <i class="fa fa-angle-double-right"></i></a></p>
                    <hr>
                </div>
                <div id="section-1">
                    <h2>English</h2>
                    <p>The Department of English imparts Communication skills and soft skills, despite acquiring proficiency in their subject area along with technical capability. To enhance employability, a bridge course have been designed by the panel of subject experts and an orientation programme for English faculty of Tirunelveli Region was successfully conducted on 29 Bridge Course, being the brain child of our Honorable Vice Chancellor Dr. M. Rajaram, helps the students of non-English medium students to adapt themselves with ease to the tertiary environment, thus preparing them with the necessary Communication Skills.</p>
                    <p>Dr.B.Jeyanthi, AP in English was the coordinator of this bridge course.  She has published and presented more than 30 papers in National and International conferences and is also invited as the Resource person for UGC Workshops organized by affiliated Colleges and Women Development Department, New Delhi.</p>
                    
                    <hr>
                </div>
                <div id="section-2">
                    <h2>Chemistry</h2>
                    <p>The Department of Chemistry was established in 2008. It plays a vital role in imparting the fundamentals, basic principles and practical skills of chemistry for building stronger engineering acquirement. The Department consists of highly qualified staff members. It offers Ph. D. programme in solid state chemistry, crystal engineering, inorganic chemistry, etc. The faculty members of the department have been handling Engineering Chemistry and Environmental Science and Engineering classes for B.E. /B. Tech. &amp; M.E. students.</p>
                    <p>The Chemistry laboratory is well equipped for doing chemistry experiments of B.E./B. Tech. courses. The Department is dynamic with faculty members attending various orientation courses, workshops and conferences. To their credit the faculty members have their own published research articles in reputed national and international journals. Dr. R. Ramasubramanian attended Faculty Development Programme on Green Chemistry at Department of Chemistry, NIT, Calicut during 17th-21st June 2013</p>
                  
                    <hr>
                </div>
                <div id="section-3">
                    <h2>Physics</h2>
                    <p>The Department of Physics was established in 2008. The faculty members of this department are engaged with the under graduate teaching of Engineering Physics for the B.E./B.Tech. students.The department is offering Ph.D. in Physical Sciences in the field of crystal growth, semiconductor thin films deposition etc,.Presently three research scholars are doing their research in this department. The physics laboratory for the first year B.E./B.Tech.students is well equipped to do the experiments for Physics practical classes.</p>
                    
                    <hr>
                </div>
                <div id="section-4">
                    <h2>Mathematics</h2>
                    <p>The Department of Mathematics conducted a Bridge course - A Special Orientation Programme for Mathematics faculty members of all affiliated colleges in this region at the Regional Office, Anna University, Tirunelveli Region Dr. G. Mahadevan, Asst. Professor and Head, delivered an invited talk in the National Conference on Graph Theory and its applications at Sri. P. K Dass Women’s College, Tirupur.</p>
                   
                    <hr>
                </div>
	<div id="section-5">
                    <h2>Physical Education</h2>
                    <p>You shouldn’t spend all your time in the classroom. In fact, we encourage you to exercise your body as much as your mind. Between classes, go play some games, shoot some tennis balls, or take a couple of runs around the track. You might consider joining one of our men’s and women’s intercollegiate teams. All students can make use of this opportunity to realize the dream of keeping one self fit and become a player.</p>
	
                    <hr>
                </div>
                </div>
            </div>
       </div>