<div class="row-fluid title">
        <div class="col-lg-12">
            <h1>Department of Electronics Communication &amp; Engineering</h1>
        </div>
    </div>
    <div class="container sidebar-container">
        <div class="row">
            <div class="col-lg-4" id="leftCol">
                <ul class="nav-stacked affix-top" id="sidebar">
                    <li style="padding: 10px" class="active"><a href="#section-1">HOD's Desk</a>
                    </li>
                    <li style="padding: 10px"><a href="#section-2">Faculty</a>
                    </li>
                    <li style="padding: 10px"><a href="#section-3">Courses</a>
                    </li>
                    <li style="padding: 10px"><a href="#section-4">Facility</a>
                    </li>
                    <li style="padding: 10px"><a href="#section-5">Department Activities</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-8">
                <div id="section-1">
                    <h2>HOD's Desk</h2>
                    <p>The Department of Electronics and Communication Engineering at Anna University, Tirunelveli region was established in the year 2008 offering a post graduate degree in Applied Electronics which provides many opportunities to gain practical work experience and ensure a successful career. The faculty members work with zeal and enthusiasm to strengthen teaching, and provide a vibrant and optimum learning environment to ensure high standards of education for students.</p>
                    <hr>
                </div>
                <div id="section-2">
                    <h2>Faculty</h2>
                    <p>It consists of four faculty members and four non teaching staff members. The faculty members work with zeal and enthusiasm to strengthen teaching, research and provide a vibrant and optimum learning environment to the students.</p>
                    <p class="no-indent">
                        <a class="btn btn-info fac_btn">
                            <strong>View Faculty Details</strong> <i class="fa fa-angle-double-right"></i>
                        </a>
                    </p>
                    <hr>
                </div>
                <div id="section-3">
                    <h2>Courses</h2>
                    <p>The Department of Electronics and Communication Engineering offers M.E. Applied Electronics both Full time and Part time.</p>
                    <hr>
                </div>
                <div id="section-4">
                    <h2>Facilities</h2>
                    <p>In order to ensure high standards of education for students, the Department has constantly upgraded itself by adding well-equipped and fully furnished laboratories to supplement the theory courses.</p>
                    <hr>
                </div>
                <div id="section-5">
                    <h1>Department Activities</h1>
                    <p>A two weeks ISTE workshop sponsored by IIT, Kharagpur on “Analog Electronics” was conducted from 4.6.2013 to 14.6.2013 and a workshop sponsored by IIT, Kharagpur on “Signals &amp; Systems” was conducted on 2.1.2014 to 12.1.2014. The department also conducted a two days workshop on “Introduction to Wavelets &amp; Its Applications” was conducted by the department of ECE from 7-02-2014 to 8.02.2014. Workshop on “Research Perspectives in Biomedical Signal and Image Processing” was conducted by the department from 6-03-2014 to 7-03-2014.</p>
                    <hr>
                </div>
            </div>
        </div>
    </div>
