<div class="row-fluid title">
        <div class="col-lg-12">
            <h1>ISTE Faculty Chapter &amp; Students Chapter</h1>
        </div>
    </div>
    <div class="container sidebar-container">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <div id="section-1">

                    <!-- <p>The inauguration of ISTE (Indian Society for Technical Education) faculty chapters for the constituent colleges of Anna University - Regional Centre of Anna University, Tirunelveli Region, University VOC College of Engineering, Thoothukudi &amp; University College of Engineering, Nagercoil was held on 29th November 2013.</p> -->
                    <p>Honorable Vice Chancellor of Anna University, Chennai Dr. M. Rajaram presides over the inaugural function and delivered the presidential Address. The president of ISTE Dr. R. Murugesan inaugurated the faculty chapters of the three campuses. Dr. S. Basil Gnanappa , Executive Secretary, ISTE given the special address.IT Skill Development Project of NIELIT (National Institute of Electronics and Information Technology) was also inaugurated on this occasion. The project Coordinator of NIELIT Shri.Ripunjay Singh delivered the special address about NIELIT. The faculty members of the three campuses participated and received the ISTE life time certificates. ISTE students chapter also started with 186 students.</p>
                    <hr>
                </div>
                <div id="section-2">
                    <h2>Office Bearers</h2>
                    <ul><!-- 
                        <li>Chairman – Dr.S.Silas Sragunam
                        </li>
                        <li>Secretary cum Treasurer –Mr.K.Saravanan
                        </li> -->
                    </ul>
                    <hr>
                </div>
                <div id="section-3">
                    <h2>Executive Members:</h2>
                    <ul>
<!--                         <li>Mrs.T.Kavitha
                        </li>
                        <li>Mrs.Vinolia Anandan
                        </li>
                        <li>Dr.M.Gunasekaran
                        </li>
                        <li>Dr.J.Rajeshbanu
                        </li>
                        <li>Mr.S.Victor
                        </li>
                        <li>Mr.M.Malleswaran
                        </li> -->
                    </ul>
                    <hr>
                </div>
              
                 
                        </div>
            <div class="col-lg-1"></div>
        </div>
    </div>